[2018-08-02 19:01] #853 closed

[2018-08-03 13:23] russellb23 opened #928 "run code issue - python-mode"
Folks,

I am migrating to vim and python-mode. I find it very convenient and elegant for full fledged development until recently, when I did bump on to a very weired issue.

When I try to run a script importing `matplotlib` I was prompted with an error message saying,

However, upon checking the virtual environment, I found the six version is `1.11.0`. Even for the system wide installation says it

[2018-08-03 16:36] russellb23 commented on #928
The issue has gone after a plain and clean reinstall of pymode without any code completion `Plug`s.

[2018-08-03 21:35] #736 closed

[2018-08-03 21:35] #639 closed

[2018-08-04 06:43] russellb23 commented on #928
Oh my bad.... This seems to be a bug. The issue has reappeared this morning when I restarted my machine. I am reopening it...

[2018-08-04 08:06] mojia commented on #559
If you can not find pylama.ini, you can edit pycodestyle.py file MAX_LINE_LENGTH field to 240 for example.

path:
~/.atom/packages/linter-pylama/bin/deps/pycodestyle.py

[2018-08-04 15:07] russellb23 commented on #928
The issue looks like the way python-mode `run` inherits the virtual environment. I have managed to execute the same script without python-mode with the following mapping
`noremap <F12> :w \| !clear && echo "% is running..." && python3 %<CR>`

However, after enabling python-mode, I am prompted with
`ImportError: No module named 'extnsn' `

If this is not a bug, could someone shed some light as to w

[2018-08-05 19:45] diraol commented on #559
@mojia this issue has been closed a long time ago. Let's try not to bring it up without need. ;)

Anyway, I wouldn't ever edit `.py` files for this specific reason (change pep8 configs).

I would rather go with `setup.cfg` or `pycodestyle.ini` or `pylint.ini`.

They can be added to your project root directory (same place as `setup.py`) or to your user home directory.

[2018-08-05 21:48] diraol commented on #928
@russellb23 can you please try to do it with the branch `six_as_submodule` that is on my fork of python-mode project?

[2018-08-06 20:49] awang-argoai commented on #817
So is compiling vim w/ python3.6 the solution?

[2018-08-07 02:34] fmv1992 opened #932 "how to proceed to clean the hardcoded `logilab-common` files from this project?"
I see that `./pymode/libs/logilab-common-1.4.1` is still a "hard-coded" file in our project.

I think it should be moved out to `./submodules` as other third party projects. This helps to clean this project so our contributors can focus on actual issues. The complication is that `logilab-common` is not a git maintained project:

1. https://pypi.org/project/logilab-common/
1. https://www.logilab.or

[2018-08-07 03:36] #841 closed

[2018-08-07 05:29] szsdk commented on #817
@vlcinsky  Yes, please close it.
@awang-argoai  Yes, it works now.

[2018-08-07 07:13] vlcinsky commented on #817
Great we agreed on closing resolved issue.

As the issue tracker does not allow me to close the issue, @klen, @fmv1992 or @diraol has to do that.

[2018-08-07 09:48] Devligue commented on #915
I seem to have similar issue. I use `NVIM v0.3.2-152-g1593ee7cf` on Windows 10.

[code]

The log above is all that was in my `:messages` after I run `nvim.exe -i NONE -u "C:\Users\devligue\.vim\bundle\python-mode\debugvimrc.vim"` as described [here](https://github.com/python-mode/python-mode#troubleshootingdebugging). There was nothing like `pymode debug msg 1: Starting debug on: 2017-11-18 16:44:

[2018-08-07 12:24] diraol commented on #817
Tks friends! =) Closing it!

[2018-08-07 13:14] awang-argoai commented on #817
@szsdk Sorry I am having a difficulty compiling vim w/ python3.6, do you happen to have some instruction on compiling vim w/ python 3.6?

[2018-08-07 14:43] diraol commented on #817
@awang-argoai I am not sure if you have to compile it with python 3.6 specifically.
I think that vim needs to be compiled with python3 flag enabled and then you need to have python3.6 on your system.

[2018-08-07 14:46] awang-argoai commented on #817
@diraol I have python3 for my vim, here is part of the output of vim --version.
+conceal           +linebreak         +python3           +vreplace

I also have python3.6
[code]
But it does not work for f-string

[2018-08-07 19:50] mckea commented on #913
In my previous instance of vim with python-mode I had folding working well with 2f850dc once I made a minor change - in autoload/pymode/folding.vim I changed:
`let has_numbers = &number || &relativenumber`
to
`let has_numbers = &number`

The latest version gives me E490 error or, with fdm=indent, the folding is kind of ugly and uninformative.

Is there some way to get back the previous behavior?

[2018-08-08 21:03] diraol commented on #920
Hi @brainst0rm do you mean something like using "ctrl+w + arrow" to move to the specific window and then `:bw` to close it?

[2018-08-08 21:54] diraol commented on #932
@fmv1992 what about doing:
  - `pip install -U logilab-common -t submodules/logilab-common`; or
  - `pip install -U logilab-common -t vendor/logilab-common`; or
  - `pip install -U logilab-common -t external/logilab-common`.

 We can still version it on our repo, but as it is installed by pip, not the "copied source code" itself. Then it would be easier to "update it". And by versioning it we won'

[2018-08-10 04:22] alphaCTzo7G commented on #913
Yeah.. I agree..I think the previous version with FastFold is probably better. Sorry.. I have been trying to debug another issue in my free time.. so I haven't been able to pay too much attention to this..

[2018-08-11 00:58] fmv1992 commented on #932
@diraol,

Thanks for all the contributions you have made for this repo.

I like your idea; lets install it with `pip install` without admin rights (I'll find the right flags for this). Just to be sure if I got it right: in this scenario no `logilab` files would be versioned within our repo (question 01).

I think this `logilab` thing would be the only exception to our "single-clone-get-everything-

[2018-08-11 11:17] diraol commented on #932
Hi @fmv1992 ! =)

It is a pleasure to contribute to the project!

Regarding the issue itself, my first idea for a faster solution approach is to version the files, not requiring our users to have to run extra non-git commands to install the project.

But I do agree with you that a Makefile would make our life much much easier.

If we go with a Makefile approach, I think we may even stop using "ver

[2018-08-11 22:36] ghost opened #933 "Update pylama to latest version to fix Python 3.7 compatibility"
Current `pylama` would generate errors with Python 3.7. It seems that the latest `pylama` has fixed this. Please update the `pylama` submodule to the latest version.

[2018-08-12 00:46] diraol opened #934 "Replace pylama with prospector"
https://github.com/PyCQA/prospector

[2018-08-12 02:32] fmv1992 commented on #934
Sounds very promising.

It also integrates most of the tools we use so probably we could get rid of the `submodules` (at least part of them) as well.

[2018-08-12 03:02] fmv1992 commented on #934
To wrap-it up:

If we go with `prospector`:

1.  This issue: <https://github.com/python-mode/python-mode/issues/932> gets deprecated.

    On the other hand we would probably have to go with `sudo pip3 install ...` to make it work and decrease the maintenance effort. I'm very inclined by this idea as updating the `submodules` everytime is not very elegant, and the plethora of submodules makes the

[2018-08-12 14:44] diraol opened #935 "RFC: Python versions support"
Hi `python-mode` community!

Maintaining multiple compatible python versions has demanded huge efforts for us.

Many python projects already decided to stop supporting python2.7, since its EOL is scheduled to a quite close date. It has been receiving only security updates and bug fixes.

Even python [3.4](https://www.python.org/dev/peps/pep-0429/) and [3.5](https://www.python.org/dev/peps/pep-0478

[2018-08-12 14:56] diraol commented on #934
1. I like make install (without sudo)
I am just not sure about #932, since I don't know what are we using that dependency for.

2. Submodules:

    * ~~`astroid`: Agree~~
    * `autopep8`: Agree to keep
    * ~~`mccabe`: Agree~~
    * `pycodestyle`: I think that this [is covered by `prospector](https://github.com/PyCQA/prospector/blob/master/setup.py#L28), but [aliased to pep8](https://github.com/

[2018-08-14 08:46] beuerle opened #937 "AttributeError: module 'vim' has no attribute 'find_module' ; after upgrade to Python 3.7"
After upgrading to Python 3.7 I get a bunch of error messages when trying to open a `.py` file.

Anybody has any idea what to do about that?

I do have the same problem with tbabej/taskwiki#183, which runs again with a patch.

* [`pymode_debug_file.txt`](https://github.com/python-mode/python-mode/files/2286137/pymode_debug_file.txt)

[code]

---

I'm on an up-to-date Arch Linux system.

*  python

[2018-08-14 13:51] mdmawat commented on #897
Any other plugin were you using? It seems like that some other plugin had the Python2 loaded before the functions is pymode were called, most possibly some plugin has statements like `has('python')` which have vim load the Python library. You could try to disable all the other plugins that use Python as extension, if the problem is gone, then enable the suspected plugins one by one to determine wh

[2018-08-15 00:03] kartynnik opened #938 "Default python3 determined by executable('python3') breaks when !has('python3')"
Here:
https://github.com/python-mode/python-mode/blob/5f78649aa58e86cf7ee62278c590f020c2b3c050/plugin/pymode.vim#L22
- the default for `g:pymode_python` is python3 as long as python3 is in the path. It breaks when `has('python3')` is 0. A check for `has('python3')` should be added.

[2018-08-15 09:12] bch29 opened #940 "Reloading project-local imports when running a file"
Say I have a file `foo.py`:

[code]

and another file `foo_test.py`:

[code]

When I run `foo_test.py` with `<leader>r`, it prints `foo` as expected. But say I change the message to `print("bar")`. If I run `foo_test.py` again with `<leader>r`, the old version of `foo.py` is used and `foo` is printed again, when I really want to reload `foo.py` and have it print `bar`. Can I get this behaviour in

[2018-08-15 14:38] N214 commented on #937
Same here, Vim 8.1 and python3.7 both installed with brew on OS X.
I tried all those methods below, without success
-  git submodule update --init --recursive
-  find . -name *.pyc -delete
-  reinstall vim with pyton3

[2018-08-18 15:41] ColinHuang opened #941 "Errors with using pyenv run under python3"
My environment:
[code]

Errors from pymode when open a python file
[code]

When I set *`let g:pymode_python = 'python3'`* or not set any settings for pymode it will have these errors.
If I set *`let g:pymode_python = 'python'`* it works well without any error message.

[2018-08-18 23:05] Cravix commented on #937
Arch user here, I think the problem comes from vim upstream,
under vim 8.1.0194 it works, but breaks under 8.1.0279...
Not major release but still API change? Weird

[2018-08-18 23:09] Cravix commented on #937
Oh sorry, think again and delete my previous comment (just thought it has something to do with vim upstream, but I guess I'm wrong on that),
I think it has something to do with python 3.7, vim-jedi is experiencing incompatibility under 3.7 too...

[2018-08-19 20:48] idvorkin commented on #916
I have a repro on linux with out the test.py file name. I am also using vim 8.1/py3.7

[2018-08-20 08:16] Stark-X commented on #923
I've installed the latest vim and macvim using the homebrew, the patch should be included, but seems the patch is not work for pymode.

Version info:
[code]

[code]

[2018-08-22 01:47] binamkayastha opened #942 "python3 typing breakes goto defintion"
It looks like the goto definition fails if there are functions with suggestive typing in the same file as the defined function unfortunately.

[2018-08-24 12:05] #861 closed

[2018-08-24 12:06] #860 closed

[2018-08-25 16:03] yelbmew opened #943 "pymode not working after upgrading from 3.6 to 3.7."
Does anyone has work around for this ? Pymode works well when running on python 3.6.

Vim version: 8.1
OS: Linux arch 4.18.3

Error message:

"test.py" [dos] 33L, 1067C
Error detected while processing function pymode#breakpoint#init:
line   21:
/must>not&exist/foo:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses

[2018-08-25 18:56] little-dude commented on #943
this is probably related to https://github.com/python-mode/python-mode/pull/919

[2018-08-26 01:31] #938 closed, assigned to nobody

[2018-08-26 14:18] diraol commented on #943
Yes it is, I'll close this issue in favor of the oldest one, please, follow that issue for updates.

[2018-08-26 14:18] #943 closed, assigned to nobody

[2018-08-26 14:19] diraol commented on #941
What about `vim --version`?

[2018-08-26 14:22] diraol commented on #940
Hi @bch29 `<leader>r` is a wrapper for the `rope` module, I am just trying to guess, but if there is a way to achieve this, it would probably be on `rope` module...

[2018-08-26 14:27] diraol commented on #937
Yeah, we are facing this problem with `imp`/`importlib` modules.

Please, follow the discussion on #919.
There is also #916, #923 and some other issues about it.

[2018-08-26 14:27] #937 closed, assigned to nobody

[2018-08-26 14:28] diraol commented on #923
Hi all, please take a look at #919
Any help is welcome!

[2018-08-26 14:30] ColinHuang commented on #941
vim version `8.0.1283`

[2018-08-26 14:30] diraol commented on #923
By the way, I will close this issue in favor of #916, but I'll rename that issue to a more meaningful name.

[2018-08-26 14:30] #923 closed, assigned to nobody

[2018-08-26 14:37] #933 closed, assigned to nobody

[2018-08-26 14:37] diraol commented on #933
I don't think the latest pylama will fix the problems we are facing with python 3.7, but it was updated anyway. =)

[2018-08-26 14:42] diraol commented on #941
Actually I was looking for other information, such as if your vim was compiled with python3 support.

[2018-08-28 02:37] #461 closed

[2018-08-28 07:21] ColinHuang commented on #941
[code]

[2018-08-28 09:45] diraol commented on #941
Your vim was compiled without python3 support...

[2018-08-28 13:42] ColinHuang commented on #941
@diraol
Thanks for reminding.
After I use `brew install vim` instead of built in vim in Mac.
[code]

It works well with the following error message.

[code]

[2018-08-28 13:56] diraol commented on #941
Yeah, we are aware of this problem with python 3.7.
We are tracking it on issue #916 and on the PR #919
Any help or contribution is very welcome! =)
(I'll close this issue to keep the conversation over there ;)

[2018-08-28 13:56] #941 closed, assigned to nobody

[2018-08-28 21:13] ricardodani commented on #916
:+1:  Same here, vim found a solution and made a patch. So, if youre using vim without plugins, updating it to at least 8.1.0201 should work https://github.com/vim/vim/commit/79a494d5e2f97c10e74f92ea529552623c314422

[2018-08-30 08:41] matteoshen commented on #750
@mgresko thanks, works for me

[2018-08-30 19:16] jmagana2000 commented on #893
I added this to the top of my .vimrc and it resolved this issue `let py3 = 1`.

[2018-08-30 21:14] #830 closed

[2018-09-04 04:56] rakbn opened #944 "PymodeLintAuto use 8 spaces for indent? and pdb cannot work"
when I run :PymodeLintAuto, it uses 8 spaces for every indent.

Another problem, if I insert a breakpoint with pdb or ipdb, and run the coding file with cmd '\r', the vim shows ’[Pymode] Code running ... ‘, then hangs up and no response. I have to kill the vim processes.

BTW, autopep8 and pdb/ipdb can work well individually under my environment.
Where can I find the log file or debugging informat

[2018-09-05 12:43] benjamingorman commented on #933
The latest pylama seems to have some python3-incompatible code such as this:

`if options.async and 'pylint' in options.linters:`
(since async is now a keyword)

Due to this problem with Pylama several features of python-mode such as `:PymodeLint` won't currently work on Python 3.7+.

So I hope that #934 proceeds to replace Pylama, else perhaps we can submit a patch to Pylama to fix the broken syn

[2018-09-06 17:34] tammersaleh commented on #916
I believe I'm still seeing this behavior with Macvim 8.1.0-280:

[code]

I see the error whenever I open a python file (empty `test.py` does the trick).

[code]

Here's my python config, if relevant:

[code]

Also, the suggested fix in vim/vim#3117 of adding:

[code]

Did not fix this issue for me.

[2018-09-06 17:35] tammersaleh commented on #893
While this isn't an exact duplicate, it's likely related to both python-mode/python-mode#916 and vim/vim#3117.

[2018-09-06 17:40] tammersaleh commented on #916
...and it looks like a PR for this is already in the works:  python-mode/python-mode#919.  Does anyone have a workaround until that PR is merged?

[2018-09-07 11:34] karoljoc commented on #523
Oh my goodness.......after setting "let g:pymode_folding = 0" my vim windows are working like a Xeon again and not as a i386 👍

[2018-09-10 06:29] #867 closed

[2018-09-11 14:44] ricardodani commented on #916
@tammersaleh what I meant is that VIM fixed that, but python-mode still don't.

[2018-09-14 16:32] #869 closed

[2018-09-17 03:28] #870 closed

[2018-09-17 23:09] blayz3r commented on #916
+1

[2018-09-18 17:29] #863 closed

[2018-09-26 09:20] zepinglee commented on #897
I had the same problem with latest MacVim installed via `homebrew-cask`. Then I changed to `brew` version of MacVim and this issue is fixed.

The minimal `vimrc` file is:
[code]

The `cask` version of MacVim is compiled with both python2 and python3 support and maybe `YouCompleteMe` always runs python2 for its client by default. But the `brew` version is only compiled with python3.

[2018-09-27 07:27] #872 closed

[2018-09-28 11:02] diraol commented on #944
@rakbn probably you have the 8 spaces set on your vimrc, because the default is 4 spaces.

Regarding pdb/ipdb, I can't help much, I have never used it under vim and I don't know exactly how it works. =(

About debug info, take a look at our readme (https://github.com/python-mode/python-mode#troubleshootingdebugging)

[2018-09-28 11:02] diraol commented on #942
@binamkayastha how so? Can you provide some examples?

[2018-09-28 11:06] diraol commented on #839
Just commenting here to avoid closing the issue, since it is an important one.

[2018-09-28 11:13] diraol commented on #884
@llinfeng _as far as I understand_, yes, by using `let g:pymode_python = 'python3'` you are saying to vim to look for a `python3` executable.

If you have made your Anaconda Python3 available as `python`, then you may just use `let g:pymode_python = 'python'`.

_I am not sure if it will work_, but you can also try to do `let g:pymode_python = 'c:\ProgramData\Anaconda3\python.exe'`.

Using `let g:p

[2018-09-28 11:16] diraol commented on #773
Hey @lucc I haven't seen this issue before! This really seems a nice improvement, and PR's are very welcome! ;)

[2018-09-28 14:50] llinfeng commented on #884
@diraol So far, I have tried the following three ways of pointing Pymode to my *Windows* Python:
[code]
Among these settings, `python` pointed me to the _'Vim-default" Python 2.7.14_, and is the only option that have had `python-mode` to load; `python3` and the absolute path both gave me the exact same error messages from my original post.

## "Vim-specific" *`python`*?
I am not sure how it happen

[2018-09-28 15:33] llinfeng commented on #884
## A new error message using gvim81.exe

![new_python_error](https://user-images.githubusercontent.com/5890407/46218355-55233b00-c312-11e8-90fc-dc218b470942.png)

This error is occurring in the following distributions of gvim81:
* Directly downloaded from <vim.org>: https://www.vim.org/download.php#pc
* Downloaded through Chocolatey: https://chocolatey.org/packages/vim
    * Well, this particular

[2018-09-28 17:32] lucc commented on #773
Sorry this is not a high priority any longer as I just turned of rope support and try to use LSP now.

[2018-09-30 04:17] #877 closed

[2018-10-01 05:49] amckinlay commented on #908
@regisz Might want to change the readme.

[2018-10-01 10:30] #748 closed

[2018-10-02 05:12] tankorsmash opened #945 "PyModRun showing 'No output.' on running a unittest"
Similar issue might be https://github.com/python-mode/python-mode/issues/86

[code]

Hitting `<leader>r` while editing this file shows `'No output.'`.

I tried to mess around with https://github.com/python-mode/python-mode/blob/develop/pymode/run.py#L65 to set `l:output` to `errors` in case unittest is trying to print to stderr but that didn't seem to work.

I tried also changing https://github.co

[2018-10-02 05:21] tankorsmash commented on #945
This may be an issue with unittest though, as the following only prints `"after import"`, even without any tests declared.

[code]

[2018-10-03 18:56] tonitch commented on #901
hey, sorry for reoppening this issue but, I got exactly the same problem with the submodule "pylama" and when nothing when I try to reinstall :'(
![screenshot from 2018-10-03 20-55-47](https://user-images.githubusercontent.com/26271060/46432503-ba31c300-c74e-11e8-8a68-1acb189e569c.png)

[2018-10-03 19:40] diraol commented on #901
Hi @tonitch sorry, can you try again? I think I've made a silly mistake.

[2018-10-03 19:54] tonitch commented on #901
yep, it work :D I'v another issue but i'll post it asap :+1:
![screenshot from 2018-10-03 21-54-01](https://user-images.githubusercontent.com/26271060/46435538-db96ad00-c756-11e8-9033-6192481d2fb0.png)

[2018-10-04 00:10] #773 closed

[2018-10-08 22:20] goetzc commented on #552
Don't close bot, it's still a valid issue.

[2018-10-08 22:56] deathweaselx86 commented on #750
Strangely enough, I was having this problem with a fresh virtualenv and Python 2.7.15. To sort of fix it, I am using the OS X system python(!?)

[2018-10-09 00:38] diraol commented on #750
which python version from your OSX?

[2018-10-09 00:39] diraol commented on #552
Hi @goetzc would your help us implementing it?

[2018-10-09 16:59] deathweaselx86 commented on #750
@diraol Python version for OS X is also 2.7.15.

This totally makes me sad because I depend on this plugin and I'd rather have a version of vim that has python 2 and 3 support.

[2018-10-10 13:44] diraol commented on #750
@deathweaselx86 As far as I remember vim supporting both python2 and 3 interpreters at the same time has always been an issue (and not just with python-mode).

What people usually do is to have two "vim"s on the OS, one with python2 support (aliased to vim2) and another with python3 support (aliased to vim or vim3).

Regarding `python-mode` support to python2, we have a [goal](https://github.com/p

[2018-10-12 07:45] bstiq opened #949 "Invalid syntax in autopep8 submodule, and other errors"
Hello,

I've been trying for some time to make python-mode work on my machine, to no avail.
I have installed vim huge without GUI with python and python3, python 3.7 and vim-plug, and no other plugins,

PymodeLintAuto is not working, syntax coloring is not working, and no shortcuts either (run, go to definition...)

Here is my log file:

[code]

Sorry, some text is in french...

Does anyone know w

[2018-10-15 00:04] Jzarecta opened #951 "Can't load it into vim, lin.py complain most"
Getting a bunch of errors when trying to get the python-mode module with their submodules in pylama.  I am on vim 8.1.374 in Arch Linux.
[code]

[2018-10-15 09:38] kuchaguangjie opened #952 "How to change max line limit as save in vim?"
I have tried all solutions I could found on Google, but none of them works now.
So, any suggestion how to change the max line limit, when save file in vim, on Linux?

[2018-10-15 12:31] fjhheras opened #953 "Autocomplete not working for some modules"
I have installed python-mode via vundle (adding Plugin 'klen/python-mode' to my .vimrc). Variables in my vimrc look like http://bkpathak.github.io/python-and-vim under "Python mode". I am using gvim 8.1.0374-1, from an Arch Linux distro.

Autocomplete works for some modules and not for others. For example, after "import os" writing "os." opens an autocomplete menu. It does not work, for example, f

[2018-10-15 12:36] #876 closed

[2018-10-15 12:36] #875 closed

[2018-10-16 16:51] alxfed opened #954 "I can not activate motions"
I have Vim 8.1.477 and I installed this python-mode plug-in (natively, in /.vim/pack/bundle/start/ directory with the help of 'recursive' git cloning, as suggested).

Strangely enough, after adding

    let g:pymode_motion = 1

to .vimrc as it is suggested in the pymode-motion section of the help file all motions besides the `]]` and `[[` do not work as they should according to the script, where t

[2018-10-16 20:34] arnavb commented on #469
Im experiencing this same issue when trying to use Python 3. Any update on this?

[2018-10-17 03:06] #225 closed

[2018-10-18 13:55] exajuk commented on #882
I have the same issue ("Invalid syntax error" for a python2-style `print`). Adding `let g:pymode_python = 'python'` in .vimrc actually avoids the error:
[code]
 but causes **a lot** of other errors during vim startup (and various commands), e. g.:
[code]
Any suggestions? Does python-mode still support python2 linting?

[2018-10-20 16:10] linux2coder opened #956 "Interactive Python"
I would like to know , is there any possibility to run python in **interactive mode** inside vim instead of a screen to display outputs

[2018-10-23 17:20] #888 closed, assigned to nobody

[2018-10-23 17:20] #880 closed

[2018-10-24 08:03] adrienverge commented on #887
@stale the issue is not solved, but let it open so that other users can find it easily.

[2018-10-25 12:33] #889 closed, assigned to nobody

[2018-10-25 15:38] kalfa commented on #523
FYI what @timmow suggested is still the best solution I have found, if people prefer to have pymode_folding=1

[2018-11-02 22:25] #894 closed, assigned to nobody

[2018-11-05 10:48] liuhonghe commented on #916
Give up python3.7
Install python3.6
`brew install https://raw.githubusercontent.com/Homebrew/homebrew-core/f2a764ef944b1080be64bd88dca9a1d80130c558/Formula/python.rb`

[2018-11-05 13:00] #895 closed, assigned to nobody

[2018-11-06 07:11] lieryan commented on #956
This seems to be outside the scope of python-mode, but if you use the llatest vim/nvim, there's `:term`/`:terminal`, which opens a shell command and allows you to interact with it interactively. You can also specify another command to run instead of your regular shell, e.g. `:term ./manage.py shell`.

[2018-11-06 08:12] lieryan commented on #951
Possible duplicate of:

- https://github.com/python-mode/python-mode/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aopen+imp
- https://github.com/python-mode/python-mode/issues/915
- https://github.com/python-mode/python-mode/issues/916

[2018-11-07 02:17] RichyMong commented on #916
+1

[2018-11-07 04:36] mgoffin commented on #916
+1

[2018-11-07 12:11] diraol commented on #956
@linux2coder `:term ipython` solves it for you?

[2018-11-07 14:06] diraol commented on #951
I may be fixed. Please, try with the newer version.

[2018-11-07 14:06] #951 closed, assigned to nobody

[2018-11-07 14:07] diraol commented on #915
@shushi2016 and @Devligue can you try again with the updated version? I think we have a fix for the issue. =)

[2018-11-07 14:12] diraol commented on #916
@ricardodani @blayz3r @mgoffin @tammersaleh @RichyMong @jamesrharwood @mattnworb @migto @BaldwinHe Can you all please try and check if the current code works now?

[2018-11-07 14:30] sulrich commented on #916
yes!  this is now working.

[2018-11-08 02:24] #916 closed, assigned to nobody

[2018-11-08 14:39] mattnworb commented on #916
@diraol with my `.vim/bundle/python-mode` at commit 551c9d4 I no longer get the DeprecationWarning about imp, but I do see a new warning the first time I open a `.py` file:

[code]

here is my vim version:

[code]

[2018-11-08 14:47] liuhonghe commented on #916
pip install six

[2018-11-08 15:18] blayz3r commented on #916
Works now

[2018-11-08 15:45] diraol commented on #916
That should not be necessary @liuhonghe since we have six module "hardcoded" into the project (under submodules).

That's really strange ....

[2018-11-08 15:52] mattnworb commented on #916
@diraol perhaps I updated `.vim/bundle/python-mode` incorrectly then, but here is what I see in the directory now (I have my `.vim/bundle` contents as submodules themselves):

[code]

[2018-11-08 15:59] tammersaleh commented on #916
Worked for me.  I use https://github.com/junegunn/vim-plug, and had to update the `Plug` line to track `develop`:

[code]

(which incidentally means I wasn't getting updates previously)

[2018-11-09 03:49] Tsubashi commented on #916
I also use plug, but have the same issue as @diraol.

[2018-11-10 07:06] liuhonghe commented on #916
sys.path  ??
[code]

[2018-11-10 12:01] diraol commented on #916
Nice catch @liuhonghe !
@mattnworb can you please try the branch `fix_six_import` from [my python-mode fork](https://github.com/diraol/python-mode), please?

[2018-11-10 12:01] diraol commented on #916
@Tsubashi which issue that I have?

[2018-11-10 14:58] Tsubashi commented on #916
My apologies. I meant @mattnworb. Not sure how I mixed that one up.

If I switch to your branch, the error changes to

[code]

[2018-11-11 02:07] seashaw opened #958 "AttributeError: module 'vim' has no attribute 'find_spec'"
Hello, there seems to be similar issues that might be related to this, but latest develop commit is still not working.
I tried compiling and using latest vim from git repo. Reverted to version from Ubuntu repo when it made no difference. Also tried re-installing python-mode via vim-plug and also did not help.

Not sure what I can try next, if anyone has encountered this on system similar to mine (

[2018-11-11 05:04] linux2coder commented on #956
Thanks for your help guys , :term ipython -i  filename.py and :term python -i filename.py
works for me

[2018-11-11 05:11] linux2coder commented on #956
Is there a way to show the terminal output in vertical split screen (right side ) in vim?

[2018-11-12 00:24] diraol commented on #916
@Tsubashi sorry, I've made a mistake on that branch.

I used `pymode.six` while I should have used `pymode.libs.six`

I've already changed that and made a push force to that branch. Please, check again. ;)
Tks!

[2018-11-12 02:02] Tsubashi commented on #916
That fixes it. Thanks!

[2018-11-12 12:12] joergsch commented on #958
workaround (which seems to work for me, but this reverts part of pull request #950):
in python-mode/pymode/libs/pkg_resources/\_\_init\_\_.py
line 2173
replace
`loader = importer.find_spec(packageName)`
with
`loader = importer.find_module(packageName)`

[2018-11-12 12:48] mattnworb commented on #916
@diraol great news, I no longer get any errors using `diraol/fix_six_import` with vim!

I am afraid though that Macvim (which I install via a Homebrew cask) is giving me an error though :(

[code]

here is the `:version` dump from my Macvim install:

[code]

[2018-11-12 16:14] lethargi opened #959 "Error detected while processing lint.vim"
Python-mode throws error messages when I try opening a python file. I am using Ubuntu 16.04 and Vundle to download python-mode. I am attaching my vim version info and error messages with this post.

I tried `git submodule update --init --recursive` in my python-mode folder, but it did not do anything. I even deleted the python-mode that Vundle made and cloned from git using `git clone --recursive

[2018-11-14 00:17] gperezcarellan commented on #959
Same problem here, i tried many things but no results.

[2018-11-14 19:38] fxdgear opened #960 "AttributeError: 'zipimport.zipimporter' object has no attribute 'find_spec'"
Running Neovim, using dein package manager I've manually gone to the location where python_mode is installed and updated all the git submodules

ive tried telling neovim to use python 3.6 as opposed to python 3.7 but still getting this error.

[code]

[2018-11-14 23:21] gperezcarellan opened #961 "Error processing lint.vim"
Hi, here is my debugg file, any help is appreciated.

-------------------------------------------------------------------------------
pymode debug msg 1: Starting debug on: 2018-11-15 00:19:44 with file /tmp/pymode_debug_file.txt
-------------------------------------------------------------------------------
pymode debug msg 2: Operating system: Linux
----------------------------------------------

[2018-11-15 13:49] regisz opened #962 ""pylint" linter does not work"
The `pylint` linter can not be loaded.
I tried to find the problem. Maybe pylama (`fmv1992/pylama` fork) does not support it basically. I found in the original repo the next [commit](https://github.com/klen/pylama/commit/7df0fb775fbfb536e498e31c5768af3b3770b1a7):  `Include pylint support into pylama by default.` It has not been merged yet into `fmv1992/pylama` fork (which is used by pymode).

###

[2018-11-15 20:40] maufia commented on #958
I have the same issue... **joergsch** suggestion does not help...

## :message
[code]

## vim version
[code]

## python version
`Python 3.5.3`

[2018-11-16 05:27] diraol commented on #958
Fellows, are you facing this problem when opening any kind of files? Any python files? Can you give an example on how to reproduce the error, please?

[2018-11-16 05:27] diraol commented on #959
Hi all, I'm trying to see what is going on.
This is the same error as #958, so I'll close this one in favor of the other (that is older) ok?

Any help is welcome!

[2018-11-16 05:27] #959 closed, assigned to nobody

[2018-11-16 05:27] diraol commented on #958
Sorry, closed by mistake

[2018-11-16 05:28] diraol commented on #962
@regisz Can you try my fork, please? if it works I'll merge into here.

https://github.com/diraol/python-mode

[2018-11-16 05:38] diraol commented on #958
Btw, can you please provide me this?

https://github.com/python-mode/python-mode#troubleshootingdebugging

And, if possible, also try opening a python file following the troubleshooting guideline and do something, like running `:PymodeLintAuto`

[2018-11-16 07:48] regisz commented on #962
Ok, I used your repo (developer branch), but it has another error.

[code]
But I have to use a patch by https://github.com/python-mode/python-mode/issues/958#issuecomment-437857300 .

[code]
[code]
[code]
[code]

[2018-11-16 08:24] amirgi73 commented on #958
Hi
I'm having the same issue...
### vim version:
[code]
### Python Version:
Python2: 2.7.15+
Python3: 3.6.7

### steps to reproduce the error:
1. opening any py file
OR
2. creating a new py file:
vim new.py

**debug file attached**
[pymode_debug_file.txt](https://github.com/python-mode/python-mode/files/2588466/pymode_debug_file.txt)

[2018-11-16 09:06] lethargi commented on #959
thanks for your efforts! its fine by me

[2018-11-16 16:36] diraol commented on #962
@regisz from the log output you are running

Which is the develop version for this repo, not from my fork.

Or there is something missing in the content you have shared with us.

[2018-11-16 23:40] nithale commented on #958
Hi,
The same issue is bothering me opening or creating a .py file
debug file ahead attached
[pymode_debug_file.txt](https://github.com/python-mode/python-mode/files/2591250/pymode_debug_file.txt)

[2018-11-17 04:02] seashaw commented on #958
@diraol thanks for following up on this.

Here is the debug log:
[pymode_debug_file.txt](https://github.com/python-mode/python-mode/files/2591472/pymode_debug_file.txt)

It happens when trying to open *.py files for editing, even empty files.

When saving a file with obvious pep8 errors it show 'Code checking is completed. No errors found.'

However :PymodeLintAuto seems to work as it should, fixi

[2018-11-18 00:29] dsabsay commented on #956
@linux2coder `:vert ter` opens a terminal window as a vertical split.

[2018-11-18 23:15] seashaw commented on #958
The workaround posted by @joergsch seems to work for me, worth a try if anyone else is experiencing this issue.

[2018-11-19 03:06] pil9rim opened #963 "pymode function error"
not sure what any of it means, but from the startify menu i try to access a .py file and I get:
"~/py_projects/hello_world.py" 3L, 24C
Error detected while processing function pymode#breakpoint#init:
line   21:
/must>not&exist/foo:2: DeprecationWarning: the imp module is deprecated in favou
r of importlib; see the module's documentation for alternative uses

Hope this helps, thanks.

-------------

[2018-11-19 08:02] lethargi commented on #958
The workaround by @joergsch fixes the code checking and Python-mode error messages for me too

[2018-11-19 12:57] regisz commented on #962
Sorry, I used your repo instead of pylama, not python-mode :).
So, I used now your "python-mode".
I got the next error:
[code]

[2018-11-20 00:09] oski89 commented on #916
Had the same issue and this fixed it. Thanks!

[2018-11-20 12:37] jia3ep commented on #958
The workaround by @joergsch fixes error messages, but additionally it was needed to add the following line in .vimrc:
`let g:pymode_python = 'python3'`
and run the following command then:
`find ~/.vim -name \*.pyc -delete`

[2018-11-22 06:35] gerroon opened #964 "No module named 'six'"
Hi

I installed it on Win 10 X64 with python 3.7 support. It seems to work but with initial invokie I get this error below.

I also have "six" installed not sure

Requirement already satisfied: six in c:\app\python37\lib\site-packages (1.11.0)

Error detected while processing function pymode#breakpoint#init:
line   29:
Traceback (most recent call last):
  File "<string>", line 2, in <module>
Modul

[2018-11-25 15:44] cchampio commented on #961
I seem to be getting the same lint error. I cannot tell whether it is exactly like Guillerm097 but it is very close. Any help much appreciated and let me know if you need further information or would like debug output from one of the other branches.

- New install of Ubuntu Desktop 18.04.1 LTS
- Using vim-plug plugin manager
- Vim 8.0 with +python3
- I do have 'let g:pymode_python = 'python3'' in

[2018-11-26 11:55] #828 closed

[2018-11-26 20:27] cdleong commented on #963
I'm getting a similar error.

[code]

Output of vim --version:
[code]

I had the same error with vim 7.4, though.

I tried installing with Pathogen, and with Vim8's native plugin loading, and got the same error.

[2018-11-26 20:29] cdleong commented on #964
This seems to be the same error as #963

edit: at least, it seems related. They both have

[code]

[2018-11-26 20:37] cdleong commented on #964
Followed the instructions at https://github.com/python-mode/python-mode#troubleshootingdebugging

pymode_debug_file.txt file:

[code]

[2018-11-26 20:38] cdleong commented on #963
Followed instructions at https://github.com/python-mode/python-mode#troubleshootingdebugging

Here is my pymode_debug_file.txt:

[code]

[2018-11-26 20:41] cdleong commented on #964
Tried checking out different versions of the submodule, including "master", "1.0.0", and "1.9.0" to no effect.

[2018-11-26 20:42] cdleong commented on #964
Also tried running
[code]
to no effect.

[2018-11-26 20:56] cdleong commented on #964
The line "pymode#breakpoint#init" occurs in two files.

[code]

It is defined in breakpoint.vim, and the import statement is right here: https://github.com/python-mode/python-mode/blob/551c9d473f269d3b1ef7354506af4485bb88ba2c/autoload/pymode/breakpoint.vim#L12

[2018-11-26 21:26] cdleong commented on #964
It seems to be something to do with the PYTHONPATH.

Or to put it another way, a problem between the system install of "six" and the submodule.

If I prepend the import statement with a sys.path.append, the problem goes away:

in breakpoint.vim
[code]

[2018-11-27 17:53] cdleong commented on #817
I see this error.

I have Ubuntu 16.04.
I have ViM 8.1:

[code]

[2018-11-27 18:53] cdleong commented on #935
Seems like a good plan. Thoughts:
* If we switch away from Pylama, will I finally be able to use f-strings on Ubuntu 16.04?
* Is there some way to have python-mode just... use whichever version of python my terminal is currently using, aka will it work with conda environments? If I switch from a conda environment with python 3.6 to python 3.5, can we have the syntax-checkers and such handle the ch

[2018-11-28 02:38] MichaelXoXo opened #966 "how to autocomplete when edit python"
I have installed python-mode, but when i endit python file, it can't autocomplete, I see the docs, default <C-Space> , but it does not work, need to set ?

[2018-11-28 07:07] jueqingsizhe66 commented on #884
I have the same error message

[2018-11-28 07:18] jueqingsizhe66 commented on #915
Same error at the windows10, python3.7, gvim8.1

[2018-11-28 07:30] jueqingsizhe66 commented on #915
pymode debug msg 1: Starting debug on: 2018-11-28 15:21:04 with file c:\users\yzl\appdata\local\temp\pymode_debug_file.txt
-------------------------------------------------------------------------------
pymode debug msg 2: Operating system: Windows
-------------------------------------------------------------------------------
pymode debug msg 3: Scriptnames:
  1: ~\.vim_runtime\my_plugins\python-

[2018-11-28 16:39] llinfeng commented on #884
...

@jueqingsizhe66 I am inclined to give up writing Python scripts using the "Windows-native" Vim ==> up to this time, I can hardly use Gvim on Windows to get `python-mode` to work properly.

**Solution**: the WSL is good enough and is easy to set up. I will try to see if I can get everything to work there. (WSL stands for Windows subsystem for Linux, and one can run Linux kernels from the Windo

[2018-11-28 16:50] cdleong commented on #966
Can you include some more information? It is difficult to understand what you have tried, and what is the problem.

Have you read the help file at https://github.com/python-mode/python-mode/blob/develop/doc/pymode.txt?

Have you edited your .vimrc config file?

Edit: Have you added these lines to your config? (Copied from the help file above)

[code]

[2018-11-29 01:27] MichaelXoXo commented on #966
Thank you, I try to add the lines to my .vimrc：

[code]

But when I type `pri` and then press `CTRL+Space` in the python file，but it did not appear `print` , need to add something else ?

PS: my vim version is 7.4

[2018-11-29 20:32] khimaros opened #967 "Utilize python-language-server for autocomplete, formatting, etc."
Starting points:

https://langserver.org/
https://github.com/palantir/python-language-server
https://github.com/prabirshrestha/vim-lsp
https://github.com/prabirshrestha/asyncomplete.vim

[2018-11-29 20:37] #958 closed, assigned to nobody

[2018-12-01 00:56] AntonOfTheWoods commented on #961
I had this error after updating all my plugins a week or so ago. I just updated again and the problem now appears to be fixed. YMMV... @cchampio

[2018-12-01 16:02] MichaelXoXo commented on #966
I have solved the proble, if have `set paste` in vimrc file, the pymode autopletion will not work.

reference:
- https://stackoverflow.com/questions/21628743/cant-get-the-jedi-vim-plugin-to-work/41574760

[2018-12-02 00:37] Axatchaudhary opened #968 "error while opening python file"
I installed python-mode using Plug. When I am opening any python file I am getting this error:
<img width="954" alt="screen shot 2018-12-01 at 6 34 27 pm" src="https://user-images.githubusercontent.com/7285865/49334302-289cd100-f598-11e8-87ac-923198530058.png">

Please help me.

[2018-12-02 22:52] typoman commented on #916
I used @diraol fix and I don't get any more errors. Thanks! In case you use vim-plug, here is the way to install it:
`Plug 'diraol/python-mode', { 'branch': 'fix_six_import' }`

[2018-12-03 08:39] gryftir commented on #964
I was able to fix this with
`pip3 install six`
installing six with pip3 (my vim has python3 enabled)

[2018-12-03 11:41] #966 closed, assigned to nobody

[2018-12-03 15:42] gerroon commented on #964
See my post

"pip install six
Requirement already satisfied: six in c:\app\python37\lib\site-packages (1.11.0)"

Installing it did not help me in the first place

[2018-12-04 16:34] glennlawyer commented on #916
The @diraol "fix_six_import" branch fixed this issue for me as well. Thanks!

osx, python 3.7.1, vim8.1

In detail:
[code]

[2018-12-05 03:17] RichyMong commented on #916
It works for me. Thank you so much.

[2018-12-05 09:27] glennlawyer commented on #823
Hi,
I see that this is stale. However, I'm just setting up my VIM for python, and running into this issue. Would be nice to have it fixed. @fmv1992, what sort of progress are you seeing in moving away from <C-c>?

[2018-12-05 09:37] diraol commented on #916
Thanks all! =)
Changes merged to the `develop` branch!

[2018-12-05 10:03] diraol commented on #968
@Axatchaudhary there is no much information here for us to help you.

We've merged some updates to the develop branch, try updating your python-mode (and it's submodules) and, if it still not working, please, take a look at:

https://github.com/python-mode/python-mode/blob/develop/readme.md#troubleshootingdebugging

[2018-12-05 10:07] diraol commented on #964
Hi all!
Sorry not answering before, I was traveling.

I've just merged an update to our develop branch that should fix this error (It was a known bug, that we already had a possible fix, but I was waiting for confirmations that the solution works fine, and it seems to work indeed =).

So, try updating and see if it is really fixed.
I've also updated the "Troubleshooting" section suggesting to remo

[2018-12-05 10:07] diraol commented on #963
Should be fixed by now, please update and try again @cdleong and @pil9rim !

[2018-12-05 10:08] diraol commented on #962
@regisz please, try updating and see if it works now.

[2018-12-05 10:09] diraol commented on #961
Folks, can you all try to update your codebase and see if it works now, please?

[2018-12-05 12:37] diraol commented on #823
@glennlawyer can you please try the branch `test_new_rope_bindings` from my [fork](https://github.com/diraol/python-mode)?

I've remapped `<C-c>` to `<leader>r` with some other changes.
As far as I could check this won't conflict with other mappings.

[2018-12-05 16:38] racterub commented on #964
@diraol
Hi, On my side, it doesn't fix this issue 😢
Error message as follows:
[code]
I've tried both PluginUpdate and re-install whole python-mode.

[2018-12-05 16:58] diraol commented on #964
@racterub Can you provide the troubleshooting information, please?

[2018-12-05 17:15] racterub commented on #964
@diraol
[code]
Here's the debug log.

[2018-12-05 17:54] diraol commented on #964
That's strange..... your submodules are all ok right?
You do have `python-mode/submodules/six/six.py`, right?

[2018-12-05 18:40] racterub commented on #964
@diraol
Both submodules and six.py is properly placed.
After few hours napping, my python-mode seems to be working again 😮

[2018-12-05 18:52] diraol commented on #964
That's the most important! =)

[2018-12-05 18:52] #964 closed, assigned to nobody

[2018-12-05 19:06] racterub commented on #961
@diraol
I'm on MacOS 10.14.1, Macvim, with `- python` `+ python3` support.
I've reinstalled python-mode
vim version:
[code]
python-mode log
[code]

[2018-12-06 02:33] #905 closed, assigned to nobody

[2018-12-06 02:33] #903 closed, assigned to nobody

[2018-12-06 02:33] #900 closed, assigned to nobody

[2018-12-06 02:33] #892 closed, assigned to nobody

[2018-12-06 13:23] ricardodani commented on #916
Hey, still need to install manually the library six. Six is not python-default, I don't think it's a good idea to force the plugin user to install manually the six library.

[2018-12-06 13:24] ricardodani commented on #916
But when installing six manually works fine @diraol

[2018-12-07 02:33] cchampio commented on #961
Fixed.
I updated branch python-mode/python-mode and it seems to be working magnificently. Very excited, thank you!

[2018-12-07 15:50] dbeniamine commented on #961
Hi,

On Debian Buster with vim 8.1 and the last pymode and submodules, I still have the same error message as @racterub:

[code]

Vim version :

[code]

[2018-12-08 22:00] pazz commented on #600
I get the same problem with vim 8.1 from vim-nox from debian testing. It has python 3 support compiled in (`vim --version` lists `+python3`). I'm on Python 3.6.7

[2018-12-08 23:05] #886 closed

[2018-12-09 05:58] gcallah opened #969 "Ephemeral error message"
When I save a python file after installing python mode, an error message pops up... very briefly!

I would say what the error is, but the problem is precisely that the error message disappears before I even have time to read it, let alone copy it.

What sort of error message is this? If it is a serious error, leave the message up until I hit return or somefin'... if it's trivial, don't keep interr

[2018-12-09 06:12] gcallah commented on #969
The message says something about 'pymode buff' ... but again, it is gone before I can read it!

[2018-12-09 10:43] joergsch commented on #961
Looks like this is due to vim 8.1.0201
https://github.com/vim/vim/commit/79a494d5e2f97c10e74f92ea529552623c314422
https://bugs.archlinux.org/task/60557
gist: find_module is no longer available in vim, find_spec has to be used instead

[2018-12-10 00:31] diraol commented on #969
@gcallah this is a free software project fully maintained by volunteers (currently only me).

If `python-mode` is so bad and so far from your high standards, you are free to replace it with other better alternatives or write your own, instead of being rude with those that are just trying to contribute with the community.

Back to the point, if you want help, you can just ask for it and I or anyone

[2018-12-10 00:31] diraol commented on #967
Hi @khimaros would you try to help us implementing it?

[2018-12-10 00:38] diraol commented on #884
@llinfeng As far as I remember Vim can't handle both python2 and python3 at the same time. I don't remember why, but you need to choose one. If you need both, you should build and install one version for each (and have something like vim2 and vim3).
Regarding `python-mode`, despite some bugs, it should work fine with both python2 and 3 (even 3.7).

About "Python-friendly Vim for Unix", you can try

[2018-12-10 03:08] llinfeng commented on #884
@diraol Thank you for clarifying the intended usage. Switching to `vim-nox` does help. I no longer get any buggy things **after switching to WSL** on my Windows 10 machine.

I found the following change-log [here](https://raw.githubusercontent.com/vim/vim/master/runtime/doc/version8.txt). Does the option `python` or `python3` for variable `g:pymode_python` have anything to do with the `$PYTHONHOME

[2018-12-10 08:04] #910 closed, assigned to nobody

[2018-12-10 09:26] javiroman commented on #961
I'm getting the same error with 8.1.549-1.fc29 (Fedora).

[code]

[2018-12-10 18:57] gcallah commented on #969
My message was critical, but there was nothing rude in it. It is called feedback. Good developers learn from it.

[2018-12-11 15:25] glennlawyer commented on #823
sorry it took a few days to get to this.

I'm getting a lot of loading errors, similar to what your "fix-six-import" branch fixed.

And unfortunately,  switch back to the "fix-six-import" branch also gives a long list of errors, likewise when I switch to the "develop" branch on the main repo (which you merged "fix-six-import" into a few days ago.

However, the errors might also be because I just u

[2018-12-11 15:47] diraol commented on #823
Try removing all '.pyc' files and '__pycache__' directories from
'pyrhon-mode' directory tree.

Em ter, 11 de dez de 2018 13:25, Glenn Lawyer <notifications@github.com
escreveu:

[2018-12-11 19:33] glennlawyer commented on #823
Thanks for this idea. It was easier to just delete the entire `python-mode` directory. I then re-install the  plugin, getting the same results as above.

[2018-12-12 00:52] kadrach commented on #901
[code]

This is due to `.git/config` and `.gitmodules` referring to different remotes (a fork?) for pylama. Fixed by running `git submodule sync`.

[2018-12-13 07:59] MortalCatalyst opened #970 "Fedora - Code_Check Error"
On fedora 29 receiving an error using python mode and amix/vimrc

Note in fedora the command python returns unversioned and only python3 command can be called.
[code]
Python3
[code]
I have also added the python3 flag to ~/.vim_runtime/my_configs.vim
let g:pymode_python = 'python3'
[code]

When attempting to run python <leader>r in vim or opening a python file with gvim I get a long run of error me

[2018-12-14 01:27] lyneca opened #971 "No module named 'pymode.libs.six'"
Upon loading a Python file in Vim, I get the following error:
[code]

I'm using [dein](https://github.com/Shougo/dein.vim) as my plugin manager.

[2018-12-14 01:41] lyneca commented on #971
Seems like it could be something to do with my vimrc - the debug one with the `-i NONE` flag works fine.

[2018-12-14 02:58] racterub commented on #961
@joergsch 's solution fixes the issue on my side 👍

But if it changed to `find_spec` will issue #958 happen again ?

[2018-12-14 07:04] javiroman commented on #961
More info here:
[code]

[2018-12-14 07:58] shakefu commented on #970
Just hit the same on OS X Mojave with MacVim 8.1.

[2018-12-15 19:03] diraol commented on #971
Try cleaning all `pyc` files withing python-mode directory.

[2018-12-15 19:03] #971 closed, assigned to nobody

[2018-12-15 21:06] diraol opened #972 "Importlib, imp, find_module, find_spec issue"
Hi All!

I'm creating this issue in order to concentrate all issues that we are facing in `python-mode` that are caused by the import machinery.

This includes `imp` module deprecation (replaced by `importlib`), "wrong" usage of `find_spec` and `find_module`, different compatibilities among python versions and so on.

Currently, I'm with very restricted free time to dedicate to the project, so **a

[2018-12-15 21:13] diraol commented on #916
@ricardodani you should not need to install six manually .....

I do know that six is not `python-default`, and we do no force our users to install it manually. That's why six is a submodule from `python-mode` repo.

So, by correctly installing `python-mode` you already have `six` (but only under python-mode context!).

[2018-12-15 21:17] diraol commented on #972
The `pkg_resources` code is already updated in the `issue_971_import_machinery` branch, so tests are welcome!

[2018-12-15 21:17] diraol commented on #970
As this error is happening a lot, I'm centralizing all discussions under #972 .

[2018-12-15 21:17] #970 closed, assigned to nobody

[2018-12-15 21:19] diraol commented on #963
If there is still problems, please, report at: #972

[2018-12-15 21:19] #963 closed, assigned to nobody

[2018-12-15 21:21] diraol commented on #961
As this error is happening a lot, I'm centralizing all discussions under #972 .

@javiroman , @racterub @joergsch @dbeniamine , Testers and Contributions are welcome! =)

[2018-12-15 21:21] #961 closed, assigned to nobody

[2018-12-15 21:23] diraol commented on #960
As this error is happening a lot, I'm centralizing all discussions under #972 .
Over there I've explained a little bit better the problem and also there is already some suggestions for tests.

[2018-12-15 21:23] #960 closed, assigned to nobody

[2018-12-15 21:25] diraol commented on #915
I think this issue is related to #972, where I'm centralizing the discussions about it.
If this issue is not related to #972, please, reopen it.

[2018-12-15 21:25] #915 closed, assigned to nobody

[2018-12-15 21:28] diraol commented on #893
It may be related to those issues indeed. if it is so, I'm concentrating efforts related to those issues in #974.

If there is no relationship with #974, please, feel free to reopen this issue. Otherwise, contributions over there are very welcome!

[2018-12-15 21:28] #893 closed, assigned to nobody

[2018-12-15 21:41] diraol commented on #969
@gcallah,

First of all, your initial problem is not with `python-mode`, but with `vim` (on the sense that you don't know how to see vim messages).

Second, you haven't asked any specific question on your initial message. So I can not help you anyway.

Third, yes you were rude by trying "to threaten" "the project" (childishly by the way):

Fourth, if the messages are `warnings`, that's what they a

[2018-12-15 22:11] gcallah commented on #969
I was saying I was going to have to take python-mode out of my plugins in .vimrc. How in the world you interpreted that as a threat to your project is beyond me, but as it turns out, you decided I was rude based on a wild misinterpretation of what I wrote.

[2018-12-16 09:02] joergsch commented on #972
on `issue_971_import_machinery` I applied the following patch:
[code]

This allows me to open my .py files in vim without errors.
[code]

[code]

[2018-12-17 03:49] racterub commented on #972
Looks like `find_module` and `find_spec` issues is python 3 problem..
In vim/vim@79a494d , on python3.7 `find_module` is replaced with `find_spec`.
Maybe try to detect whether is 3.6 or 3.7 ?

[2018-12-17 03:55] #891 closed, assigned to nobody

[2018-12-17 06:42] javiroman commented on #972
@joergsch your patch works for me with this versions:

[code]
However  Python-Mode Folding is not working anymore (by default the folding is enabled, I think).

[2018-12-17 10:26] diraol commented on #972
@joergsch , @racterub is right, If we just replace like that it may break in other python versions prior to 3.7. We will need to check for the version in a more detailed way. I'll try to see if there is any kind of issue/bug-report in setuptools module about it.

@javiroman python-mode folding's feature is disable by default (c64c71f4a7cd3b41d85a9f627d3012879446d31e) because we were facing too man

[2018-12-17 12:37] racterub commented on #972
Here's a PR which attempt to fix the issue #955

I think `sys.version_info` should be a solution
Here are the examples in python2 & 3
[code]
[code]

After scanning through `pymode/libs/pkg_resources/__init__.py`, it only checks python's major version.

Get example code:
[code]

Here's how it runs
[code]

[2018-12-17 22:27] hawkeyej commented on #908
This happens far too often:
[code]
Sometimes I can figure out how to fix it (delete *.pyc sometime works) and other times I can't.
It's very frustrating, as I do a lot of python work.

[2018-12-18 16:44] joergsch commented on #972
In addition to this, the python version used within vim might differ from the one on system.
`:python3 import sys; print(sys.version_info)`

[2018-12-19 00:11] John-P opened #973 "Error detected while processing function provider#python3#Call (Linux)"
When I try to open a .py file I get this error. The non development branch (master) works until I save, then I get a different error. However, on the development branch I get this error whenever I open a python file. Using vim-plug and python3.

Traceback:
[code]

Pymode Variables:
[code]

[2018-12-19 12:47] dbeniamine commented on #972
I was on #961 which has been closed as similiar to this one, I tried pull request #955  and got

[code]

I've looked and seen that in  `pymode/lbs/six.py`, `PY34` is used but not initialized, so I modified the file as shown below and it fixed the issue for me :

[code]

[2018-12-19 13:15] PrzemoF opened #974 "Error detected while processing function pymode#init:"
Installed with pathogen on raspbian:

[code]

[2018-12-19 15:57] typoman opened #975 "Reload python after installing a module through pip"
After installing a package using pip3 I tried to import the package inside Vim but I get an import error. I have to add that the package was installed in a different window of the terminal that Vim was running in. If I restart Vim, the import error goes away. Is there any way to avoid this or it can only be solved by restarting vim?

[2018-12-19 17:36] #907 closed, assigned to nobody

[2018-12-20 14:40] cglai commented on #964
Same problem here.

Env:

- centos 7
- vim 8.1
- spacevim 0.9

Tried:

- `pip install six`
- `sys.path.append`

Workaround:

- `vi ~/.vim/autoload/pymode/breakpoint.vim`

well, the final path may be different according to your installation details. Here I was copied from python-mode(`cp -R * ~/.vim`).

- search `from pymode.libs.six import PY3` (which coz this error) and replace with `PY3 = sys.ve

[2018-12-21 02:22] fmv1992 commented on #912
@diraol , I'm sorry for being away for such a long time. I think that the stale bot has served the purpose of closing very old/legacy issues from the time before we took up this project.

In other words; maybe all the issues that are opened now are relevant.

What do you think of disabling this bot?

[2018-12-21 10:07] madhukar93 commented on #967
Hi, interested in helping out here.

[2018-12-22 14:09] #911 closed, assigned to nobody

[2018-12-22 15:08] ms-ati commented on #804
Cannot agree @fmv1992 - should be highlighted also to Github as potential abuse and start getting more eyes and minds working on ways to detect and head off these sorts of actions before they improve their sales pitch

[2018-12-23 19:00] wangxiaoying commented on #964
It works for me. Thanks!

[2018-12-26 08:26] ustcyue commented on #937
@diraol I got same `module 'vim' has no attribute 'find_module'` error. May I know how should I fix it?

[2018-12-27 18:08] diraol commented on #975
Hi @typoman,

as far as I know there is not a defined way to solve this. You can try to "hack" vim in order to force reloading all python packages, but this is probably going to be much harder than just closing and opening vim.

[2018-12-27 19:34] diraol commented on #974
@PrzemoF are you sure you have vim with python support enabled?

Would you please follow the https://github.com/python-mode/python-mode#troubleshootingdebugging section and give use the info referenced there?

[2018-12-27 19:35] diraol commented on #973
Hi @John-P can you give us the information required at https://github.com/python-mode/python-mode#troubleshootingdebugging ?

[2018-12-27 19:39] diraol commented on #972
@dbeniamine I think you need to update your submodules. It looks like you are not using the most current version of the six submodule from python-mode.

Can you try `git submodule sync` or `git submodule update`?

[2018-12-27 19:45] diraol commented on #964
1) No need to install `six` nor modify the `sys.path`
2) No need to make the change in `breakpoint.vim`.

If you are doing it you need to update your submodules, for sure.

[2018-12-27 19:51] diraol commented on #972
@racterub, regarding this comment, I think it worth taking a look at:
https://github.com/pypa/setuptools/pull/1563

It seems that it can be a "vim problem" instead of a "python or python-mode problem". (Vim not supporting python FindSpec API or something like that).

I'm still facing some issues to have time to work in the project... =(

Other thing is that #955 needs to be rebased and tested....

[2018-12-27 19:53] diraol commented on #937
@ustcyue take a look at #919 please, there are some comments over there. Follow the instructions and, if it still not working, please provide the Troubleshooting information.

[2018-12-27 19:57] diraol commented on #967
Hi @madhukar93 please, feel free to send us a Pull Request with such proposal!

[2018-12-27 20:01] diraol commented on #912
Hi @fmv1992 Nice to see you around!

Yes, the bot helps a lot!

And I think we should keep it. I'm saying this because there are lots of "simple" issues that many users just created them and never got back.
I mean, the post the issue with a question/problem, I've answered, and they never gave a feedback, so I don't know if the issue was solved or if they didn't even saw the answer.

The bot is a "

[2018-12-27 20:03] diraol commented on #823
@glennlawyer so the issue is fixed? Can I close it?

[2018-12-28 11:43] diraol commented on #908
Please guys, let's not revive old threads without adding new contents or with messages that can be added to newer issues. =)

This "error" by itself means nothing (which was the error actually?)

And, more than that, this has nothing to do with the solution found to solve this specific issue.

I'm locking this issue so we can concentrate in opened issues.

[2018-12-29 10:38] #890 closed, assigned to nobody

[2018-12-29 11:48] typoman commented on #975
Thank you @diraol, since it doesn't happen often I just restart Vim in this case.

[2018-12-29 14:28] #975 closed, assigned to nobody

[2018-12-29 17:32] diraol commented on #962
Hi @AnasR7 Can you share with us the info describe in the [Troubleshooting](https://github.com/python-mode/python-mode#troubleshootingdebugging)  section of our project?

[2018-12-29 17:52] AnasR7 opened #976 "Error detect while processing lint.vim on python3"
i have annoying problem when i opened python files, i got this error
![screenshot_2018-12-30_00-28-07](https://user-images.githubusercontent.com/23519166/50540859-46c41400-0bcc-11e9-8489-60e3a1f5e5be.png)

i have tried this #959, and this #844, also tried using git submodule update --init --recursive
and i got same error.

can you help me ?, thanks...

[2018-12-29 18:42] diraol commented on #976
Hi @AnasR7 Can you share with us the info describe in the [Troubleshooting](https://github.com/python-mode/python-mode#troubleshootingdebugging)  section of our project?

[2018-12-29 19:18] AnasR7 commented on #976
Thanks for fast respond...
sure
[code]

[2018-12-29 19:44] diraol commented on #976
hum....
Can you provide me the results for the following commands:

 - `uname -a`
 - `vim --version`
 - `python --version`
 - `python3 --version`

Oh, and open vim, then, while in "Normal mode", type
`:PymodePython import sys; print(sys.version_info)`

Whats the result for that?

[2018-12-29 19:54] diraol opened #977 "Improve tests with docker"
Hi all!

We have been facing many issues related to vim/python versions.

I've been thinking that we need better way to test those combinations (vim + python) in a more "clean and isolated environment". Manually or not.

I thought about using docker to create such environments.

A possibility is to:

  - start a docker container
  - install the python version we want
  - build vim considering this

[2018-12-29 19:56] #956 closed, assigned to nobody

[2018-12-30 02:24] diraol commented on #977
OK, I have an initial proposal....

[2018-12-30 03:16] AnasR7 commented on #976
uname -a
[code]
vim --version
[code]
python --version
[code]
python3 --version
[code]
:PymodePython import sys; print(sys.version_info)
![screenshot_2018-12-30_10-15-15](https://user-images.githubusercontent.com/23519166/50544065-dd6bf180-0c1b-11e9-8f61-cde52d004d4c.png)

can you solve this error ? @diraol  thanks.

[2019-01-01 14:38] AnasR7 commented on #976
i close this issues i know what hapenned because find_module no longer use it.

thanks..
 sorry for my misunderstanding.

[2019-01-01 15:53] #976 closed, assigned to nobody

[2019-01-01 18:40] blayz3r opened #978 "Dependency symlink failing in windows"
I am using windows 10 and Plug 'python-mode/python-mode', { 'branch': 'develop' }.
I get the following error every time I open a python file.

![2019-01-01_13-23-25](https://user-images.githubusercontent.com/12205650/50575306-b7388400-0dca-11e9-8d06-7651a9182b21.png)

The folder looks like this:

![2019-01-01_13-27-22](https://user-images.githubusercontent.com/12205650/50575310-ca4b5400-0dca-11e9-

[2019-01-02 09:54] lodagro commented on #978
Observed same issue (on Linux).

Ran a quick bisect to find what caused it
[code]

I reverted to
[code]

Or make pymode/libs a package
[code]

[2019-01-02 12:01] harryln commented on #978
Hi, encounter the same problem recently after updating by `vim-plug` for Windows 7, Windows 10 and Linux (32 and 64 bit). Also try removing `pyc` or removing everything/installing again. All failed.

[2019-01-02 12:26] diraol commented on #978
Good catch @lodagro, I've added `__init__.py` to the `libs` directory.

@harryln and @blayz3r can you pull and try it again, please? =)

[2019-01-02 12:33] harryln commented on #978
Hi, after updating, the same problem. Test on Windows 10.

[2019-01-02 13:06] tristanbatchler commented on #964
I'm getting the same error as @racterub when trying to open a .py file:
[code]

I am on the latest version of python-mode:
[code]

and here is the debug info:
[code]

My submodules are up to date from what I can tell (I just run `git submodule update --init --recursive` from within `~/.vim/bundle/python-mode`. Please let me know if there's a better way to update my submodules or if something else

[2019-01-02 13:29] tristanbatchler commented on #978
Wow, thanks I pulled the `__init__.py` and now everything's working great!

[2019-01-02 14:02] diraol commented on #964
What is the output of `git submodule status` ?

[2019-01-02 14:08] diraol commented on #978
@tristanbatchler which OS are you using?

I think it may have something to do with Windows not being able to handle the symbolic links... =( But that's strange, since this change was made quite a while ago.

@harryln can you try to open the `python-mode/pymode/libs/six.py` file with any text/code editor other than vim to see if this is a "windows specific" issue?

[2019-01-02 14:26] harryln commented on #978
@diraol,  contents of `six.py` under Windows is
[code]
By the way, Linux works perfectly.

[2019-01-02 14:37] diraol commented on #978
Hum.... any help here is very welcome. I do not have a Windows to test python-mode. We need to figure out how to make this symbolic link work properly (the strange thing is that all other links seems to be working?)

[2019-01-02 14:41] lodagro commented on #978
@diraol not sure all other links work, ```six.py``` is probably the first one that fails, and it all ends there.

Neither do i have a windows install.

[2019-01-02 20:25] tristanbatchler commented on #978
Sorry, I didn't realise this was a Windows specific issue. I'm running Linux, so that would be why the latest commit fixed the issues on my end.

[2019-01-02 20:36] tristanbatchler commented on #964
Actually, the latest commit d147255 solved this for me. Here's the output of `git submodule status anyway`.
[code]

[2019-01-03 01:30] fmv1992 commented on #912
I think the reasons to keep it are stronger than the reasons to shut it down : )

Let's keep it.

[2019-01-03 01:30] #912 closed, assigned to nobody

[2019-01-03 10:29] #902 closed, assigned to nobody

[2019-01-03 15:01] PrzemoF commented on #974
No, I'm not sure that my vim has python support enabled. It's the vim from raspbian. Daft question, but how can I check that? I should be able to do in python3 "import vim"?

I'm trying to do it, but even :messages is causing error:

    :messages
    Messages maintainer: Bram Moolenaar <Bram@vim.org>
    "code/src/occ.py" 135L, 5090C
    Error detected while processing function pymode#init:
    l

[2019-01-03 15:08] PrzemoF commented on #974
You can close the issue. My vim is not with python3:

    pi@raspberrypi:~ $ vim --version | grep python
    +cryptv          +linebreak       -python          +viminfo
    +cscope          +lispindent      -python3         +vreplace

[2019-01-03 15:08] #974 closed, assigned to nobody

[2019-01-04 22:05] sentientmachine commented on #405
I got this error, This is from the YouCompleteMe plugin fighting with me rolling my own pythoncomplete.vim scripts.  Disable YouCompleteMe and the error goes away.

[2019-01-04 22:55] chazubell opened #979 "Error Detected While Processing Function pymode#breakpoint#init"
I am running Vim 8.1.687 (python3/dyn enabled) on Windows 10 with Python 3.6.8.

A file was loaded into VIM and the error listed below appeared.  From what I see in the output, the redirection to the file in a different folder is not being performed.
Question:  Have a missed a setting in my .vimrc file?

Thanks for any suggestions.

Output
<<<<>>>
Error detected while processing function pymode#br

[2019-01-05 20:45] diraol commented on #979
Hi @chazubell this is the same error as the one in #978.

I'll close this issue as a duplicated of the older one, let's keep the talk there. =)
(But no, you have not missed any config in vimrc)

[2019-01-05 20:45] #979 closed, assigned to nobody

[2019-01-05 21:29] diraol commented on #978
@chazubell, @harryln and @blayz3r can you guys please try one of the solutions from:
https://stackoverflow.com/questions/5917249/git-symlinks-in-windows ?

The three first answers seems to be very helpful! If one of you guys can make it work, let me know, and we will figure out something to do (at least documenting).

Tks!

[2019-01-06 17:02] blayz3r commented on #978
Hi @diraol I tried the 4th solution(**_only the reinstalling git part_**) in the thread(on windows 10), **enabling developer mode** and **reinstalling git** with the option below:

![2019-01-06_11-57-44](https://user-images.githubusercontent.com/12205650/50739181-a90fac80-11aa-11e9-9d0b-984cda8ab7c2.png)

You will have to unistall and re-install pymode with your plugin manager.

Before:
![50575310

[2019-01-06 17:15] chazubell commented on #978
I will check it out.

Thanks to all.

-cdu

[2019-01-06 18:00] chazubell commented on #978
Followed the link.  Updated git.  Set option per the screens shot.  Updated the clone, etc., etc. Works!

Thanks to all.

[2019-01-06 20:22] #978 closed, assigned to nobody

[2019-01-07 01:01] diraol commented on #978
Nice to hear! Thanks for reporting the issue and taking time to test the solutions! =)

[2019-01-07 02:51] blayz3r commented on #978
No. Thank you for helping resolve the issue so quickly !!!

[2019-01-08 16:15] ToniDS opened #980 "error when opening python files and linting incomplete"
Dear everyone,
I also now have the error "Errror detected while processing python/mode/pymode/lint.vim.
Also, all my python files are shown as no errors or warnings found, despite there being many warnings. I'm using gvim on an Arch install, have the same problem on my server (also arch, but vim).
I tried setting linter manually in .vimrc, no change. Any ideas?

This is the debug output:
[code]

T

[2019-01-08 16:23] diraol commented on #980
Hi @ToniDS how did you installed python-mode?

Are all submodules updated?
And which python version are you using?

[2019-01-08 16:28] ToniDS commented on #980
I'm using the package manager that comes with vim itself. Downloaded it using ansible. Here's my ansible script, for reference (which includes updating the submodules, unless I've made some sort of mistake...) - I've highlighted pythonmode.
I'm using python3. Have let g:pymode_python = 'python3' in my vimrc, no change.

[code]
[code]
[code]

[2019-01-08 22:47] agjohnson commented on #973
I'm also hitting this. Following debug instructions there is nothing in `:messages` with a path to the log file. For me, the error triggers on first key press opening a py file.

Outside debug mode, Pymode loads (?) but every feature results in an ascii encoding error for a mystery file -- ie, jumping to a definition, saving file

[2019-01-09 00:53] WaterSibilantFalling opened #981 "README.md : add 'yes' or 'no' for installation using Vundle"
I use Vundle to install plugins and, like others, I have used Vundle to install python-mode.

Now that I have errors and pymode isn't working, I am wondering if using Vundle was, somehow, responsible as Vundle is not listed as a method for installing python-mode.

The issue is that a 'yes' or 'no' statement should be added to the READEME.md regarding installation of python-mode via Vundle.

[2019-01-09 11:13] diraol commented on #932
Keeping this issue active because I think it is still relevant.

[2019-01-09 12:00] diraol commented on #981
Hi @AbsurdMagpieScrutinies !

I've just tested, in a clean environment, and `Vundle` seems to clone `python-mode` correctly, including the submodules.
And I just followed Vundle default instructions, without any kind of modifications or hacks.
By using:
`Plugin 'python-mode/python-mode'` I was able to get python-mode correctly installed.

So I think we can add it to our Readme.md (Would you do it?

[2019-01-09 12:03] diraol commented on #980
Hi @ToniDS that's strange.
I'm not a very skilled ansible guy, buyt it looks like ok indeed.

Do you see any other error messages?
I mean, what are the full error messages when you open a py file inside vim?
You can get them by typing `:messages`

[2019-01-09 12:51] ToniDS commented on #980
This is the full error message that comes when opening any *.py file.

[code]

[2019-01-10 14:10] thevorpalblade opened #982 "python-mode fails on vim startup"
Hello! When opening a .py file with vim, with python-mode enabled, I just get a screen full of error messages (reproduced below). This is on a fresh install of python-mode (although it started happening after I'd been using python-mode for years without incident).

I have run `git submodule update --init --recursive` in the appropriate directory, and have `let g:pymode_python = 'python3'`set in my

[2019-01-11 21:57] diraol commented on #982
Hi @thevorpalblade !
Thanks for the info you provided.

Unfortunately this is a recurrent problem we have been seeing in the project and it is being handled (or at least we are trying to) in the issue #972.
The error you are seeing derives from the same points from that issue.
So I'll close this issue for us to concentrate over there ok?

As I said over there, I know that we have this problem, but

[2019-01-11 21:57] #982 closed, assigned to nobody

[2019-01-11 22:02] diraol commented on #980
Oh, this is the same error that's being tracked in #972. We are aware of it happening, but I have had no time to propose a solution yet.

I'll close the issue here, so we can keep the conversation concentrated over there ok?

If you can, please post over there some basic info that you already provided here (such as OS, vim version, python version enabled in vim, python version, etc). I don't think

[2019-01-11 22:02] #980 closed, assigned to nobody

[2019-01-11 22:38] diraol commented on #972
Friends, I've been trying to reproduce this error without success at all!

Specially the `AttributeError: module 'vim' has no attribute 'find_module'` error.

I've even created a Dockerfile in order to test python-mode in a very clean environment, without any other vim plugins/configurations, with a "dedicated" python version and so on, but nothing yet.

I really need help from all of you to bette

[2019-01-12 10:32] sbihel commented on #972
I don't know if it is related but this change solved my problem at the startup
[code]

[code]

With neovim `has("python")` is the same as `has("python3")`. But with vim it is just `has("python")` that returns 1, not `has("python2")` nor `has("python3")`... 😰

EDIT: my problem does not occur with python-mode's debug vimrc

EDIT2: sorry, I had `let g:pymode_python = 'python2'` in my vimrc... but pyl

[2019-01-12 12:11] racterub commented on #972
@diraol
Hi, I've encountered a problem, which docker says `[WARNING]: Empty continuation lines will become errors in a future release.`

Host info(on MacOS):
[code]

---
EDIT: Dropped PR on your repo :)

[2019-01-13 01:52] racterub commented on #972
On python 3.7.1, it got following error:
[code]

[2019-01-13 05:28] racterub commented on #972
@diraol
When using docker, everything works :)

[2019-01-13 13:11] diraol commented on #972
@racterub yeah, it seems to work in the docker with a clean env.

That's why it is bugging my mind... I can't reproduce the error inside the clean docker env.

If we manage to reproduce the error over there, then it is going to be easier to figure out what is going on.

Thinking out loud here, may be the problem is in VIM? Should we try to build an older version inside docker?

[2019-01-13 17:49] lalmeras commented on #972
Hi,

Not sure it helps, but here is my feedback:

* Fedora 29
* python-mode loaded with vim-plug and switched manually on issue_971_import_machinery 29185d510fc1f7a7a49e0ce22839c8e83c902050
* .vimrc cleaned to a "minimal" version
* no other plugin

I stepped into the ``AttributeError: module 'vim' has no attribute 'find_module'`` (during ``from .lint.extensions import LINTERS``, in *pylama/core.py

[2019-01-14 00:55] racterub commented on #972
I think for now we should just build a test branch which identifies python version whether is 2.x-3.4 or 3.6- since `find_module` is deprecated in [python docs](https://docs.python.org/3/library/importlib.html#importlib.abc.MetaPathFinder)

And is it possible to add issue templates ? It should make the issue more detailed for contributors to understand their environment

[2019-01-14 17:55] typoman opened #983 "Pymode doesn't run the code E444:"
When I hit tun recently I realized it works for the first time and if I don't close the output window and run the code again it stops working. Here is what I see in the output:
[code]
So basically atm can't run any python code inside vim. What do you suggest for diagnosis or fix?

[2019-01-16 03:09] diraol commented on #972
Guys, if someone is able to reproduce the error, can you please indicate which vim version are you running?

I think the error may be related to the vim version.

For sure it is @racterub ! I've been thinking about it (but with no time to do it).
Pull Requests are welcome (and if you want to discuss it, feel free to open an issue about it).

[2019-01-16 03:35] diraol commented on #934
Keeping it up

[2019-01-16 17:18] dbeniamine commented on #972
@diraol  I updated my submodules and I still have the issue on the develop branch.

On the branch `leophys/fix/import-imp-py2py3` I got an error when I update submodules:
[code]

On that branch with the modification described in my [previous message](https://github.com/python-mode/python-mode/issues/972#issuecomment-448584526) it works fine.

My vim version:
[code]

[2019-01-17 14:44] racterub commented on #972
@diraol
Hi, I somehow made it happend lol.
I will detailed my setup and my env.

Here's my setup:

MacOS Mojave 10.14.2
macvim (8.1-153)
python-mode (latest commit)
python3.7.2
(macvim and python3 are installed via homebrew)

Here's my macvim & python3 info:
[code]

Screenshot of my vim
![image](https://user-images.githubusercontent.com/20561837/51325436-dc561380-1aa7-11e9-840c-30e2be7d716d.png)

[2019-01-17 14:56] racterub commented on #972
![image](https://user-images.githubusercontent.com/20561837/51326873-03621480-1aab-11e9-9de9-703087c3cbcc.png)
PR #985 fixes the issue on my side.

[2019-01-17 15:27] dbeniamine commented on #972
Reading the previous message, I realized that I was trying to use PR #955 instead of PR #985 so I tried #985 and I confirm that it fully solve the issue for me :+1:

[2019-01-17 21:45] paolo-de-rosa commented on #972
I can confirm  PR [#985](https://github.com/python-mode/python-mode/pull/985) is working fine, this is my setup:
MacOS Mojave 10.14.2
macvim (8.1-153)
python-mode (PR  [#985](https://github.com/python-mode/python-mode/pull/985) )
python3.7.2
(macvim and python3 are installed via homebrew)

[2019-01-17 23:44] #926 closed, assigned to nobody

[2019-01-18 01:51] diraol commented on #972
Folks, thanks for all the help!

I think we are reaching a solution with #985 (despite the fact that I don't like it too much since it is changing one of our dependencies, not our project, but if that's what we have, then let's go with it!).

I would just like to have it really well tested.
And by that i mean:

* Test with vim compiled with python{2,3.4,3.5,3.6,3.7} and running with python{2,3.4,3

[2019-01-18 01:53] diraol commented on #972
Btw @racterub automating these tests with docker would be welcome ;)

Sorry by my absence, but I have some health issues to deal with and I'm under a quite high load of work also...

[2019-01-24 07:43] nineKnight commented on #972
Let's look into this line:
[code]
This vim is compiled and linked with python3.7.

As @racterub mentioned, vim/vim@79a494d5e2f97c10e74f92ea529552623c314422 finds python function by name. Thus the vim uses its python3.7 (the library) instead of the system's one, as @joergsch mentioned, so it calls `find_spec` instead of `find_module`.

Shall we just merge #985 or judge the python version like below

[2019-01-24 11:11] diraol commented on #972
@nineKnight thanks for the comment (it is very elucidating!).

I liked your suggestion and, then, I've improved @zcodes proposal with such changes.

I would like to have a feedback from all of you if we have a solution (if it works for all of you).

Since I could not change the code from @zcodes PR, I've "patched" it and created a new one, with the proper references:

https://github.com/python-mod

[2019-01-24 11:35] racterub commented on #972
@diraol
Confirmed working :)
![image](https://user-images.githubusercontent.com/20561837/51675574-06ab5200-200f-11e9-9990-fd17ca033c16.png)

[2019-01-24 11:47] kmcheung12 commented on #972
@diraol

Python version

Vim
[code]

Pull request #986 works for me

[2019-01-24 23:29] memoselyk commented on #971
I had a similar problem, I suspect the issue was that I updated the repo (i.e. `git pull`) without updating the submodules.

[2019-01-25 02:57] nineKnight commented on #972
@diraol Before my suggestion, I tested the code I referenced and it worked.

However, in #986, @zcodes finds out exceptions when vim supports `python3/dyn`. So far, #985 will be the best solution.

[2019-01-25 12:14] shoeffner commented on #972
@dbeniamine for your issue

the fix for me was to change the remote url inside submodules/pylama:
`git remote set-url origin git@github.com:klen/pylama`
as it was set to the fork `fmv1992/pylama`. `git fetch` and/or the usual submodule sync/update stuff should then work again.

@diraol I had the same issue as described above and #986 works for me. *edit: actually #985 does, too.*

vim --version:

[2019-01-25 12:54] diraol commented on #972
@shoeffner you could just do `git submodule sync`.

I think we will go with #985 as described in the discussion of #986 . =)
Thanks for testing both of the PRs!

[2019-01-25 12:56] diraol commented on #972
Considering the points brought by @zcodes in #986, I think we will stay with #985 as "final" solution.

I'm copy-pasting my message over there:

[code]

[2019-01-26 22:27] #928 closed, assigned to nobody

[2019-01-29 19:55] amcgregor commented on #969
I, too, was receiving (a very large number of) short-lived error notifications on save, and occasionally when opening files, often enough that pressing space or another key would just move on to the next error, then the next, then the next, until I'd give up and hit escape to dismiss all of them.  Predominantly about being unable to find/use `rope` (project symbols indexer), or `pylama` (or other

[2019-01-30 18:02] #913 closed, assigned to nobody

[2019-01-30 18:02] #920 closed, assigned to nobody

[2019-02-02 09:37] sorsasampo opened #988 "How to ignore E501 on project level?"
I tried creating `pylama.ini` with:

[code]

But this does not seem to have an effect?

[2019-02-04 16:04] fjhheras opened #989 "Python-mode not working in conda environment"
I installed python-mode in manual mode following instructions on the readme. It works fine outside the conda environment, but when a conda environment is activated, I see the following errors when opening vim:

[code]

Any idea about how to solve this? I have tried all combinations of removing and adding the following to my vimrc:

[code]

[2019-02-05 17:13] ToniDS commented on #989
Is it possible that your environment uses python3.7? For me, my conda envs with Python 3.6 actually still work, it's just the envs with python3.7 that don't work. I haven't found a solution, though, unfortunately.

[2019-02-05 17:18] diraol commented on #989
Hi,
can you follow our [Troubleshooting section](https://github.com/python-mode/python-mode#troubleshootingdebugging) and provide more information for us to help you? (This is for both of you @fjhheras and @ToniDS, since we have fixed problems regarding python versions very recently)

[2019-02-05 22:45] diraol commented on #988
@sorsasampo can you try configuring in `pylint.rc`?

[2019-02-06 06:13] sorsasampo commented on #988
@diraol renaming `pylama.ini` to `pylint.rc` made no difference.

[2019-02-06 12:47] diraol commented on #988
@sorsasampo can you provide you `.vimrc` file?

[2019-02-06 12:49] diraol commented on #983
@typoman can you provide a more descriptive explanation how can I reproduce the error?
I mean, a sample python file and the sequence of commands.

[2019-02-12 04:51] aasutossh commented on #699
`let g:pymode_lint_ignore = "E501"`
don't work for me.
I am still getting
`line too long (114 > 79 characters) [E501]`

[2019-02-12 16:33] jquadrino commented on #893
use
[code]

[2019-02-12 16:39] diraol commented on #699
This is wrong, it should be a list, take a look at the documentation (I'm
at my mobile at the moment).

let g:pymode_lint_ignore = "E501,W"

[2019-02-12 16:41] diraol commented on #893
Nope, this is not the solution... It was already fixed. And this issue is closed.

[2019-02-13 08:24] makimat commented on #973
I'm hitting this too. Here's my pymode debugging output.

[code]

[2019-02-15 06:51] madhukar93 commented on #967
@diraol will start work on this soon. I have no experience with viml and plugin dev though, so looking at that right now. What is the vision here? Will the users of python-mode now have a choice between rope vs lsp for these functionalities?

[2019-02-16 01:01] felipebrunet opened #990 "Fail to import O365 module"
Hello!
In order to import an already installed python module (via pip3 installer) should I do any modification to the "/.vimrc file" or to the "python-mode" directory? I have seen that some modules like "pandas" or "numpy" are working, but not the "O365" module. All of them do work ok in my python shell.

Thanks!

Felipe

[2019-02-16 01:52] #990 closed, assigned to nobody

[2019-02-16 01:53] felipebrunet commented on #990
sorry, it was a problem with my module version. It's all good.

[2019-02-16 22:32] #940 closed, assigned to nobody

[2019-02-17 04:55] blackdwarf opened #991 "Pymode failing on opening a file"
I have updated my installations of gvim to 8.1 (with Pyhon 3) support as well as Python to 3.7 on my Windows machine. Re-cloned the python-mode repo and initialized the sub-components. However, when I try to open a Python file, I keep getting the following error:

[code]

After I tried to do the debugging/troubleshooting steps from the `README.md` file, I couldn't get the debug file, but was able

[2019-02-17 11:12] diraol commented on #991
Please, take a look at the issue #978

[2019-02-17 12:30] blackdwarf commented on #991
@diraol thanks so much for the quick reply. Indeed, cloning again under administrative privileges with the `-c core.symlinks=true` solves the issue.

[2019-02-17 12:30] #991 closed, assigned to nobody

[2019-02-17 13:59] sorsasampo commented on #988
@diraol no, but I can test with a minimal `~.vimrc` if you provide one, and believe some other plugin is the issue.

[2019-02-17 14:32] diraol commented on #973
Hi @makimat,
can you provide you `vimrc`, share the outpuit of `vim --version`, and a way to reproduce the error locally (like a python file with a sample code and the commands you execute to get the error)?

[2019-02-17 14:42] diraol commented on #952
Hi @kuchaguangjie what do you mean by "max line limit" and what is the relationship of it with `python-mode`?

[2019-02-17 14:48] diraol commented on #949
Hi @lebastaq this is related to the issue #978. You can find you answer there. =)

I'll close this issue (since the solution to the problem is in #978). If it does not work, feel free to reopen this issue ok?

(I'm sorry taking so long to answer, I've become maintainer of the project no that long ago and I'm trying to take a look at old issues that still open)

[2019-02-17 14:48] #949 closed, assigned to nobody

[2019-02-17 15:00] diraol commented on #954
@alxfed are you still facing this issue? We have made lot's of changes in `python-mode` and I'm trying to review old issues from the repo. Thanks.

[2019-02-17 15:01] diraol commented on #945
@tankorsmash any update related to this issue? Are you still facing problems and/or have you found any solution?

[2019-02-17 15:02] diraol commented on #944
Closing this issue due to inactivity, if needed, reopen it.

[2019-02-17 15:02] #944 closed, assigned to nobody

[2019-02-17 15:02] diraol commented on #942
Closing this issue due to inactivity, if needed, reopen it.

[2019-02-17 15:02] #942 closed, assigned to nobody

[2019-02-17 15:35] diraol commented on #897
Hi all, any news here?
Can I close the issue? (I'll wait for a week ok?)

[2019-02-17 15:47] diraol commented on #839
Guys, I've tested all codes from this issue and it seems to be working.
I'll close it for now ok? If anyone faces issues with folding and do not want to use other folding features, reopen the issue with new info ok? Thanks! =)

[2019-02-17 15:47] #839 closed

[2019-02-17 15:48] #523 closed

[2019-02-17 15:51] kuchaguangjie commented on #952
python-mode, limit the max length of a line by default, and I can't find a way to change it. I have already uninstalled it, due to this.

[2019-02-17 15:53] diraol commented on #882
Closing the issue because of inactivity.

But I would recommend taking a look in the python version that vim was built with (`vim --version`)and the current running python version (in vim) (`python3 import sys; print(sys.version_info)` or `python import sys; print(sys.version_info)`)

[2019-02-17 15:53] #882 closed

[2019-02-17 15:55] diraol commented on #952
@kuchaguangjie like this? https://github.com/python-mode/python-mode/blob/ac97c66a8b65a5811a67e4e6e326f4f6feb037d9/doc/pymode.txt#L120-L122

[2019-02-17 16:46] tankorsmash commented on #945
I haven't made any progress on this

On Sun., Feb. 17, 2019, 10:01 a.m. Diego Rabatone Oliveira <
notifications@github.com wrote:

[2019-02-17 18:07] kuchaguangjie commented on #952
Maybe, but downloading the plugin takes so long (due to it's dependency), and as I am not a python programmer, I won't try this. It's better if users could find these options via Google search or document.

[2019-02-17 18:07] #952 closed, assigned to nobody

[2019-02-18 01:21] eschao commented on #897
@diraol Please close. It works now.

[2019-02-18 01:21] #897 closed, assigned to nobody

[2019-02-18 01:35] alxfed commented on #954
I stopped using it and deleted it.

[2019-02-18 13:22] diraol commented on #952
For the record, my previous comment is a link to the project documentation, that can be found both here in GitHub and directly from vim (as long as the plugin is installed).

[2019-02-18 13:24] diraol commented on #945
But do you think this is an issue with python-mode or unittest?

[2019-02-18 13:30] diraol commented on #988
Sorry @sorsasampo, but I cannot help you if you do not provide information and context.
The best that I can suggest to you is to disable all plugins except python-mode and try our troubleshooting section (from the project Readme).

[2019-02-18 16:30] tankorsmash commented on #945
I'll close the issue, and if anything changes I'll make a new issue (or reopen this, if possible). Thanks!

[2019-02-18 16:30] #945 closed, assigned to nobody

[2019-02-20 19:26] elliottcstr opened #992 "Failed to begin python-mode"
[code]

[2019-02-20 19:56] elliottcstr commented on #992
Maybe this?

[code]

[2019-02-20 20:12] diraol commented on #992
@elliottcstr which python version are you using?
(open vim and execute `:python import sys; print(sys.version_info)` (or `python3 import sys; print(sys.version_info`).

Also, can you provide the result to `vim --version`?

[2019-02-20 20:20] elliottcstr commented on #992
@diraol

[code]

[code]

[2019-02-20 20:28] elliottcstr commented on #992
The patch above should fix the issue.
[find_spec()](https://docs.python.org/3/library/importlib.html#importlib.abc.MetaPathFinder.find_spec) returns a [spec](https://docs.python.org/3/glossary.html#term-module-spec) not a loader

[2019-02-20 20:54] diraol commented on #992
@elliottcstr Your suggestion indeed make sense.

But I have to say that I have no idea why this was not failing "generally". This is a change that has been made very recently, and we have had many users testing it.

Regarding the "`python import sys; print(sys.version_info)`", I was expecting you to execute it inside vim, not in your shell, so we can see which python version is being loaded by vim

[2019-02-20 20:56] diraol commented on #972
@zcodes, @racterub, @joergsch, @nineKnight, @lalmeras, @dbeniamine
Folks, can you take a look at the issue below? I think it is related to this one, but there is something very strange with this all.
#992

[2019-02-20 21:28] elliottcstr commented on #992
@diraol

Apologies I had to use
`:python3 import sys; print(sys.version_info)`
not
`:python import sys; print(sys.version_info)`
in vim but the results are inconsequential:
`sys.version_info(major=3, minor=6, micro=7, releaselevel='final', serial=0)`

[2019-02-21 08:30] zcodes commented on #992
as @elliottcstr mentioned above, here we should use find_spec().loader as find_spec just return a spec, but mostly, we should also check find_spec() returns None with no loader attribute, maybe code like below:

[code]

the code below the `loader = importer.find_spec...` in most most most case never run, that why the code currently passed testing by many users. until now, I have no idea how to let

[2019-02-21 13:01] #972 closed, assigned to nobody

[2019-02-21 13:01] #992 closed, assigned to nobody

[2019-02-21 21:14] diraol commented on #992
@elliottcstr, no problem regarding python version ;)

@elliottcstr and @zcodes, I've added the proposed change! =) Check to see if it is everything ok.

[2019-02-21 21:17] elliottcstr commented on #992
Looks great! Have been using today, and no issues, thanks for the speedy fix!

[2019-02-21 22:40] yfli commented on #406
I am still have the same issue. Is it fixed or not?

[2019-02-22 01:10] zcodes commented on #992
@diraol everything ok !

[2019-02-22 08:21] makimat commented on #973
You can find it from here: https://github.com/makimat/pymode-test

Let me know if any further information would be necessary. And thanks a lot for helping on the issue!

[2019-02-22 09:40] makimat commented on #973
Sorry for bothering with this issue. I deleted and reinstalled python-mode with Vundle and now `:PymodeLint` works again without errors. I can't see any other reason for this than some `__pycache__` dirs under python-mode that might've been used and python3 version being upgraded in my env in between.

Hopefully this finding will help others stumbling into the same issue: either delete all `__pyca

[2019-02-22 11:16] diraol commented on #973
No problem at all @makimat ! =)

Pycache is indeed a recurrent problem. That's why I've added a note in our [Troubleshooting](https://github.com/python-mode/python-mode/blob/develop/readme.md#troubleshootingdebugging) section about it and how to delete all cache files. ;)

[2019-02-22 11:16] #973 closed, assigned to nobody

[2019-02-22 16:37] diraol commented on #935
@zcodes you've been a great contributor here, I would like to know your thoughts about this topic.

I have updated our submodules locally and it broke my python-mode because some of the dependencies does not support python2 anymore, so we may need to drop its support.

[2019-02-22 16:39] diraol commented on #935
@cdleong Regarding your second bullet point, I think you need a vim compiled with python "dynamic" support in order to be able to get such feature, but I'm not sure about it.

Regarding the first one, maybe yes. Anyway, even if we stay with pylama, we need to update some other dependencies (such as astroid and pylint), but they dropped support for python2 in the most recent releases.

[2019-02-23 11:17] dbeniamine commented on #992
@diraol  in #972 you asked us to look at this issue, but I do not see which step I should do to try reproduce it.

I am currently using the develop branch, and python mode seems to be working just fine for me, tell me If you want me to test with some specific settings.

[2019-02-23 11:44] diraol commented on #992
@dbeniamine We do not have any special test sequence (despite our test scripts, which I've executed myself in a clean environment, so, no need to run it).

I was just asking for you guys to update python-mode and try the common stuff you are used to do with it.

Btw, our current recommended branch is the `develop` one, so all ok. ;)

[2019-02-23 21:17] zcodes commented on #935
@diraol For me, I think the plain seems ok. No matter what's the reason or purpose, working with multiple python versions is hard, and the life is not happy. For now, as the python official team, and many other packages has stoped supporting python2, even old version python3, it will be harder and harder if still supporting them, especially for a projects depends on many others. So, just following

[2019-02-24 17:15] dbeniamine commented on #992
Ok then it's all good and working for me :)

[2019-02-25 05:18] iamsourcer opened #994 "Vim plugins error"
I m trying to use vim as my editor and had the following errors.  Not sure how to solve the problem.  Any help / tips will be appreciated.

Cheers

Jon

![05ea8711-4ed1-45f0-a156-abecab57539d](https://user-images.githubusercontent.com/2893792/53315696-55186e80-38a3-11e9-9012-cc2e0af77e36.png)

[2019-02-25 05:46] diraol commented on #994
Hi @jtarrico , you haven't installed python-mode correctly, you are missing the submodules. Please, take a look at our Readme.

[2019-02-25 10:14] Migacz85 opened #995 "Init rope project is frozing my vim"
I'm having this output on the bottom of the vim:
`
"Coding/www/4Project/run.py" 430L, 16148C written
[Pymode] Init Rope project: /home/migacz
`

[2019-02-25 13:15] Migacz85 commented on #988
Hi a little side not, is that error E501
Is it autofixable by using :PymodeLintAuto ?

[2019-02-25 18:15] diraol commented on #995
Hi @Migacz85, you can both disable the Rope functionality from python-mode (add `let g:pymode_rope = 0` to your `.vimrc`) or avoid opening any python file while being in your home folder. If you have rope enabled and you open a python file while being in your home folder, python-mode and rope will understand that you are in a python project and will try to evaluate everything under that directory

[2019-02-25 18:16] diraol commented on #995
In your case, I would `cd` into `/home/migacz/Coding/www/4Project` and then open `vim run.py`. It will be much much faster for sure.

[2019-02-25 18:18] diraol commented on #988
@Migacz85 I sincerely don't remember if PymodeLintAuto can fix this type of error (I would just try it) because this can be very tricky to solve.

[2019-02-25 18:19] diraol commented on #994
Later on don't forget to give us a feedback if everything is ok. ;)

[2019-02-25 20:13] #994 closed, assigned to nobody

[2019-02-25 21:16] Zarathustra2 opened #996 "aM motion does not select decoraters"
Consider the following function:

[code]

When I use **vaM** everything excluding the decorator gets selected. Imo a decorator belongs to a method and should be selected as well.

[2019-02-26 01:23] archibold9 opened #997 "Only seeing output on taking input"
On running with <label>r the run will only take input from my infinite loop and not show any output. I've searched the docs but can't find anything on this.

[2019-02-26 09:36] Migacz85 commented on #995
I just disabled it. Ok great so I see that the problem would be solved if I will just change path inside vim.
You have maybe some line that I can put to my .vimrc that will change it automaticly each time I will open a new file/buffer ?

[2019-02-26 10:58] diraol commented on #995
@Migacz85 I'm not sure if this make much sense. I mean, Rope evaluate a project (not a single file), in order to be able to provide auto complete, refactoring and other features. If it changes the "path" for every open file/buffer, it would not consider the "full project path". I think..... lol

Take a look at the Rope documentation, both [here (python-mode docs)](https://github.com/python-mode/py

[2019-02-26 11:00] diraol commented on #997
Hi @archibold9 can explain your problems with more details and, if possible, with some straightforward small sample code for us to reproduce the situation?

[2019-02-26 11:05] diraol commented on #996
Just adding here a sample python script with a more complete alternatives (function and method with decorator) for us to test this possible improvement:

[code]

[2019-02-26 11:11] archibold9 commented on #997
I'm relatively new to vim and plugins so I'm writing simple python scripts just to get the hang of using them both in parallel.

The important parts of my code is as follows:

[code]

On running it with label r it pops up the input section from get_guess() but doesn't print anything out until its terminated.

I have attached screenshots to show this.

<img width="1680" alt="screenshot 2019-02-26 a

[2019-02-26 11:12] diraol commented on #996
Hi @Zarathustra2 thanks for the issue! =)

Your suggestion indeed make sense.
In order to be able to do this, we need to improve the regex used to do the selection over here:
https://github.com/python-mode/python-mode/blob/develop/after/ftplugin/python.vim#L40-L42

I'm with limited time to dedicate to the project, specially improvements (I'm trying to handle more critical issues, specially #935, #

[2019-02-26 18:06] Zarathustra2 commented on #996
Then we would also have to rework this: [https://github.com/python-mode/python-mode/blob/develop/autoload/pymode/motion.vim#L50](https://github.com/python-mode/python-mode/blob/develop/autoload/pymode/motion.vim#L50)

Since we just increment the line by 1 if we want to select the inner function this would fail if we adjust the regex to catch also decorators. (=btw the increment of 1 would fail to

[2019-02-26 18:30] diraol commented on #996
Hi @Zarathustra2 I'm not exactly an experienced or expert dev in vimscript too.... I'm just trying to do the best that I can to maintain this project alive ;)
So, I'll review everything to my best, but there is always a chance of problems and new bugs. So, let's learn together by doing it! :laughing:

[2019-02-26 18:49] diraol commented on #997
Hi @archibold9 sorry, but with this code is not executable (it is missing some methods definitions).

[2019-02-26 19:58] tobias-weiss-ai-xr opened #998 "Documentation does not work with import aliases"
Hello,

First I want to thank all the contributors for the great plug-in.

However, I have a tiny little problem with the documentation lookups via ctrl+k.

If I use
import numpy
numpy.array(...)
everything is fine.

But if I use
import numpy as np
np.array(...)
the documentation is not found.

Am I doing something wrong?

I'm using self-compiled neovim + python3 with the master branch here.

Mayb

[2019-02-27 14:23] virtual-expo commented on #989
Hi all,
I am facing the same issue: python-mode is not working anymore when a conda environment is activated. Here are the logs, following the troubleshooting section:

[code]

[2019-02-27 14:49] virtual-expo commented on #989
I found a dirty solution.
Since the problem is coming from lib-dynload in the miniconda python install, I made a symbolic link from my system lib-dynload directory.
[code]

[2019-02-28 15:36] ustcyue opened #999 "why I cannot see import error?"
The syntax check for all other functions works fine, but it don't report import error if I imported a non exist module.

It detected my virtualenv path correctly so I guess it should got the correct sys.path. So is this expected and am I missing some configuration?

[2019-03-01 13:12] cuducos commented on #783
I'm still having this issue. I'm using a brand new computer (formatted yesterday, reinstalled the OS), and even cleaning `__pycache__` and `*.pyc` the error pops in.

Is changing `options.linters_params['pylint']` by something `options.linters_params.get('pylint')` a valid solution? Why?

[2019-03-03 09:43] marselmustafin opened #1000 "Lint errors underline"
Is it possible to underline specific lint errors, except of add signs at the left of editor? I use `terryma/vim-multiple-cursors` plugin, and linti signs begin to blink on each multilne symbol entering. This is gonna get pretty ugly.

[2019-03-03 14:03] zgpio commented on #995
@diraol  Why not implement pymode to automatically understand the project root directory?
Sometimes I forget to switch to the project directory.

[2019-03-03 16:32] archibold9 commented on #997
Apologies.

[code]

[2019-03-03 16:57] zcodes commented on #935
@diraol I update all submodules to master (or develop) branch locally, and test with python 2.7 and 3.7, for now, there's nothing is wrong.

[2019-03-07 00:38] diraol commented on #995
That's the point @zgpio, defining which is the project root directory is not a trivial task.

It is already done, up to some point, considering VCS directories.
But going further than that can be very tricky.

Also, I may be saying something wrong, but It may have an assumption that I think was made when the plugin was built that is: You are going to work in one specific project at a time (vim ses

[2019-03-07 00:39] diraol commented on #989
So, it seems that the problem is that your VIM was built with python dynamic link support, but your conda environment does not have the dependencies for that. Is that right @claire-w ?

[2019-03-07 00:45] diraol commented on #783
Hi @cuducos !

where exactly are you proposing to make this change?

[2019-03-07 01:23] cuducos commented on #783
Hum… ok, my bad. I should have better studied the way branches and releases work in this repo. Let me try to clarify. The error I'm getting is as follows:

![screen shot 2019-03-01 at 10 01 41](https://user-images.githubusercontent.com/4732915/53925292-3ca41300-405e-11e9-8bbb-fc52c0c6a50f.png)

However, now I see that this code is not present at the `develop` branch anymore. Thus I'm not sure if i

[2019-03-07 09:23] diraol commented on #783
No problem! You were probably using the master branch and, indeed, our current maintained working branch is the develop.

Take a look to see if it works if you change to the develop branch, please. ;)

[2019-03-07 10:04] biycyr opened #1001 "Syntax error while processing lint.vim"
Hello, this problem seems to have been posted in several issues, but I haven't find the right answer to solve mine. The error messages keep popping up every time I want to create or edit any python files.

### Here is the debug log
[pymode_debug_file.txt](https://github.com/python-mode/python-mode/files/2940631/pymode_debug_file.txt)

### vim version
[vim_version.txt](https://github.com/python-mod

[2019-03-07 11:05] virtual-expo commented on #989
Yes, you are totally right @diraol . The python executable in my conda environment is statically linked to libpython, which is causing the issue.

According to this [issue](https://github.com/conda-forge/python-feedstock/issues/222), python is dynamically linked to libpython in a conda environment with python 3.6. I created such an environment and tested the plugin, which perfectly works.
[code]

[2019-03-07 11:21] diraol commented on #989
Nice @claire-w, thanks for the explanation! =)

So can we close this issue?
@fjhheras have you seen @claire-w comments? Does it work for you?

[2019-03-07 11:31] fjhheras commented on #989
Thank you @claire-w for your tests (and for submitting the right logs following the troubleshooting section, which for some reason I was unable to).

My conda environment is indeed python 3.7. I can confirm that in an enviroment with python 3.6, (a manually-installed) python-mode works. I have not tried the symbolic link, but what I did try was to install python-mode with Vundle, and it works (eve

[2019-03-07 13:04] smilesun opened #1002 "the file has no mark"
I have set the following
[code]
when I open a python file and execute leader+b, i got "the file has no mark"

i am using neovim.
Is there something i forget to do?

[2019-03-07 13:24] cuducos commented on #783
Indeed: worked like a charm. Many thanks : )

[2019-03-07 21:30] matt24smith opened #1003 "Error when importing numpy"
I had an error when trying to import the numpy module using python-mode. At this point im not sure if the bug is caused by numpy or by python-mode, however the code executes without issue when running from console outside of vim: `python3 test.py`.
I'm using python 3.7.2 and numpy 1.16.2.

my code that caused this error:
[code]

My `pymode_debug_file.txt` contains:
[code]

[2019-03-08 10:18] diraol commented on #989
Hum, regarding this issue (conda envs) the way you install python-mode shouldn't make any difference.

But the important is that it is working! ;)

If you need any further assistance regarding this issue just let us know. I'm closing the issue for now, but we can reopen it if needed.

[2019-03-08 10:18] #989 closed, assigned to nobody

[2019-03-08 10:29] diraol commented on #1003
Hi @matt24smith,

for the traceback message it looks like you have a problem with your numpy installation.

[code]

Also, I've tested your code in a clean environment with a fresh numpy install and it seems to work ok.

Can you try following the tips from the traceback message?

[2019-03-10 01:14] matt24smith commented on #1003
Thanks for your reply. I tried that without success - I'm not exactly sure what the error is. I ended up using a workaround solution instead.

[2019-03-10 01:14] #1003 closed, assigned to nobody

[2019-03-11 10:40] diraol commented on #935
Nice @zcodes I think we can do another release with support for both python versions.
I'll update all submodules here and create a MR so we can have more people testing.

But it worth mentioning that next `pydocstyle` version (3.0.1, currently 3.0.1rc) will not support python 2.7 anymore.

[2019-03-11 17:52] glentner opened #1006 "b:pymode_modified does not exist (plugin conflict)"
I've been using python-mode for a long time and rarely had issues. However, I've lately had this issue where it complains about "b:pymode_modified" not existing. I've run all the debugging steps suggested and even dug into the plugin code myself. I looks as though `python-mode` is fine.

I systematically disabled all my other plugins and re-enabled them one at a time. It appears that `Xuyuanp/nerd

[2019-03-12 09:46] ustcyue commented on #999
ok, seems it is because I am using flake8 as my linter, after change to pylint, it works again.

[2019-03-12 09:46] #999 closed, assigned to nobody

[2019-03-14 12:56] diraol commented on #953
We have two problems here.

The first one, related to autocomplete, has been better documented at #998 (not yet solved).

The second one, related to "conda" environments, has been documented at #989 and have a solution already (described in the issue, it is not a `python-mode` problem directly, it is more related to conda itself).

So, I'll just close this current issue in favor of the other two i

[2019-03-14 12:56] #953 closed, assigned to nobody

[2019-03-17 08:40] kerwinxu opened #1007 "the imp module is deprecated in favour of importlib;"
python 3.7 ,win10 ,does not work

[2019-03-17 09:03] diraol commented on #1007
You are using the wrong version of python-mode, please, use the develop branch instead of the master.

[2019-03-17 23:36] diraol commented on #1006
Hi @glentner I'm not sure if the "plugin order" matters, but can you try changing the order in which you load both plugins?

[2019-03-17 23:41] diraol commented on #1002
That's weird, I've tested it both in my system and in a clean docker environment and everything seems to be working fine.

It may be something with neovim (I've tested with vim only).

Anyone else that may have tested it with neovim?

[2019-03-17 23:53] diraol commented on #1001
Hi @biycyr sorry for taking so long to answer.

Vundle is not a problem usually, but can you certify that the submodules have been cloned correctly, please?

[2019-03-17 23:55] diraol commented on #1000
Hi @marselmustafin, I don't know any way of doing it.

I mean, as far as I know python-mode does not provide a way of changing how the signs are presented, which means that, in order to do that, you may need to hack it.

[2019-03-17 23:57] diraol commented on #998
Hi @tobiasweede, you are right, it is not working.

I'm not sure how would we fix it neither if this is a "problem" of python-mode or from rope (the plugin that actually offers the autocomplete feature if I am not mistaken).

Any help would be welcome (such as looking for similar issues in Rope repo/issues).

[2019-03-18 11:38] Migacz85 commented on #374
I had exactly the same issue

[2019-03-18 12:14] diraol commented on #374
Please, you are commenting in a very old issue (about 3 years old), python-mode has changed a lot since then and there is a high probability that comments from this issue won't be helpful.

If you need, open a new issue with troubleshooting information so we can try to help you.

[2019-03-18 15:14] alpha0mega96 opened #1008 "python-mode automatically installs with python 3 even when python 2 is default"
I installed python-mode via vim-plug.

It automatically installed itself in python 3 mode. I am working on python 2 (2.7) and hence all libraries that have been renamed in python 3 (3.5) are now marked as errors.

[2019-03-18 15:36] diraol commented on #1008
`python-mode` defaults to python3, if it exists in the environment.

If you want to use python2 you can set it at your `.vimrc` with:

`let g:pymode_python = 'python'`

[2019-03-19 07:48] biycyr commented on #1001
Hi @diraol thanks for replying.

I am not quite sure how I am supposed to do that. But I have run `git submodule update --init --recursive` in `~/.vim/bundle/python-mode`, as in #901 .

Also, Here is my .gitmodules(I have changed the file name so that it can be uploaded) if you need it.
[gitmodules.txt](https://github.com/python-mode/python-mode/files/2982087/gitmodules.txt)

my output of running

[2019-03-19 11:18] diraol commented on #935
Folks, can you all try this Pull Request, please?

https://github.com/python-mode/python-mode/pull/1005

Tks!

[2019-03-21 08:24] regisz opened #1009 "AttributeError: module 'lazy_object_proxy' has no attribute 'Proxy'"
Hi,

Pymode raises an exception when I would like to open a python file.

[code]

[2019-03-21 13:58] fjhheras commented on #989
I am afraid I am still having problems with my system, and now I think it is a different problem to the one @claire-w had. My conda has python version 3.7 in base. If I create an environment with python 3.7, I find that python-mode works with no problems.

However, if I create an environment in 3.6 (and I need this version for certain applications), I have this error:

[code]
I cannot do the symbo

[2019-03-21 14:05] dbankmann opened #1010 "Do not open extra quickfix window in new split"
Hi,
I recently installed the `python-mode` plugin, so I may not be aware of all possible options yet.
I currently experience the following problem.
I opened two files belonging to the same project in a split window. However, after changing the top file and saving, the quickfix window appears also below the top window.
So in total, there are now 2 quickfix windows, one for the top file and one for

[2019-03-21 14:56] diraol commented on #989
@fjhheras may be you need to compile your vim with 'dynamic python' version instead of setting a specific one.

But I'm not sure if this is the real issue.
Try the following in "multiple envs":
`PymodePython import sys; print(sys.version)`

Anyway, for me, it looks more a problem with Conda than with python-mode or vim.

[2019-03-21 15:15] fjhheras commented on #989
The output of that command is always
[code]
independently on the conda environment I run it from.

Funnily enough, when I add
`let g:pymode_python = 'python'`
instead of
`let g:pymode_python = 'python3'`
I do not get any errors and pymode works (except of course I get linting, packages, etc, for python 2)

I do not compile vim myself: I am using a precompiled version from Arch Linux. My precompile

[2019-03-21 16:56] madalinpopa commented on #978
I had the same issue. Windows 10, Vim 8.1. Followed the solution provided by @blayz3r. Works! 👍

[2019-03-21 23:12] juanflorez commented on #971
git submodule update --init --recursive

[2019-03-22 09:08] Migacz85 opened #1011 "How to integrate Django help, and autocompletion into vim?"
Hi
I know that this is loosely corelated with pymode. Which is great tool. But I started recently coding in python using Django. Pymode have shortuct `shift+K`. Is there any way that I can integrate help system to the Django framework so I will be able to read what Django specific functions can do in Vim?

Also I'm interested it its possible to make an autocompletion - but to Django specific funct

[2019-03-22 13:37] diraol commented on #1011
Hi @Migacz85

Not sure about `shift+K`, but if you have django installed into the python environment that vim is reading from (probably your current python env in the shell session), then the autocomplete will work nicely. =)

[2019-03-23 00:39] glentner commented on #1006
I'll give that a try and report back.

[2019-03-23 11:35] adrienverge commented on #887
@Stale the issue is not solved, but let it open so that other users can find it easily.

[2019-03-24 10:37] Migacz85 commented on #1011
Hi
@diraol
I see tha we have `PymodeVirtualenv` option, but when I'm running is saying that it needs argument.
I was trying to path to my virtual environment but without success.
Normally I'm activating virtual env by 	`source venv/bin/activate`
I also put to my `.vimrc` code for autodetection but I'm not sure it is working. How I can check that I'm in venv?

[2019-03-24 11:13] Migacz85 commented on #1011
I tested this entering manually to venv, I have something like this:
Is really sluggish, slow, and it looks like its importing everything. Hmmm any idea how to scan for only Djangoish classes? In insert mode when I'm typing I press `ctrl + p`

![pymode venv](https://user-images.githubusercontent.com/25789997/54878484-a3c71300-4e25-11e9-838f-f3afa83c5091.gif)

[2019-03-26 07:17] PegasusWang commented on #1006
Same problem.  conflict with https://github.com/Xuyuanp/nerdtree-git-plugin

[2019-03-27 02:17] KamranMaharov commented on #1010
I have tried reproduce this unwanted behavior, but couldn't. Quickfix window always opened at the current buffer.
How did i do:
Opened extra buffer with both :split and pymode's "gotodefinition" features, and then saved the file.

It may have something to do with pymode parameters. Here's my vimrc:
[code]

By the way, thank you for `set completeopt=menuone,noinsert` line, i was looking for it. ))

[2019-03-27 12:18] diraol commented on #1010
Hi guys, sorry for not answering, I've really been without time to dedicate to the project. =(

@dbacc I totally agree with you. I have already complained (to myself) about it many times, but never opened an issue about it.

As I've said, I'm without time to try to improve `python-mode` (not even some minor fixes and updates I've been able to do).

So, any kind of contribution here would be very w

[2019-03-27 21:47] dbankmann commented on #1010
@diraol Yes, exactly!

It seems like the whole 'problem' ist that linting information is printed to location lists instead into the quickfix window. Is there a special reason for this?

[2019-03-27 21:55] diraol commented on #1010
Hum..... no idea if there is a special reason for that.

I think we can try to change the behavior and see if any kind of problem arises.

Can you give it a try?

[2019-03-27 22:37] dbankmann commented on #1010
Well, for example in `loclist.vim` one could replace `lopen` by something like

[code]

[2019-03-28 01:01] ianepperson opened #1012 "Python 3.6 isort not working"
I've been trying to chase this down but I can't get a resolution.

It seems that when adding isort to my virtualenv (`pip install isort`) when I start up pymode in vim I get the following traceback:
[code]

isort otherwise seems to work correctly from the command line.  The above traceback goes away if I uninstall isort.  It looks like the manner in which pylama is pulling in isort is causing isor

[2019-03-30 06:07] KamranMaharov commented on #996
Hi @diraol . @Zarathustra2 , thank you for opening this issue. I also recently became fond of pymode, and decided to contribute as much as i can. I agree with you that solely changing regexp definition will not help. It requires refactoring in vimscript as well.
https://github.com/python-mode/python-mode/blob/7a449a5ee505bbabf4d16ad78ce67a087840d2e9/autoload/pymode/motion.vim#L71
https://github.co

[2019-03-30 06:14] KamranMaharov commented on #996
And also what do you think of this approach?
_pymode#motion#select(first_pattern, second_pattern, inner)_
first_pattern would be "@", second_pattern would be "def" for functions.
first_pattern would be "class", second_pattern would also be "class" for classes.

from current cursor position, _pymode#motion#select_ will go up until last first_pattern (in the search direction), then from that point,

[2019-03-30 06:33] #1000 closed, assigned to nobody

[2019-03-31 15:49] rchildre3 commented on #1012
Could not reproduce

Environemt:
[code]
Steps:
[code]

@diraol Possible duplicate of #916 / #923 / #937 ?

[2019-04-01 11:40] mpyatishev commented on #1009
I have the same issue on python3.6

[2019-04-01 15:14] regisz commented on #1009
If I removed the plugin directory, and installed it again, then the error did not occurred again.

[2019-04-01 15:14] #1009 closed, assigned to nobody

[2019-04-02 05:07] mpyatishev commented on #1009
I'd hoped to avoid this

[2019-04-02 07:09] regisz commented on #1009
Why? Your settings does not have to be removed. I only removed the directory of plugin and I did not change anything in my vimrc.

[2019-04-02 11:12] diraol commented on #1009
You can try to remove all "cache files" by going into python-mode directory and running:

[code]
And then make sure that you have the latest version of python-mode and its submodules:

[code]

[2019-04-02 11:14] mg979 commented on #953
I'm having the same problem. Autocompletion works in some directory, not in others. Jedi is having the same problem

https://github.com/davidhalter/jedi-vim/issues/692#issuecomment-478905644

[2019-04-02 17:30] diraol commented on #1012
@ianepperson can you try removing all "cache files" by going into python-mode directory and running:
[code]
And then make sure that you have the latest version of python-mode and its submodules:
[code]

[2019-04-03 01:26] ianepperson commented on #1012
OK, more info.

Environment:
[code]

@diraol Good idea!  But I followed the steps and have the same result.  After pip installing `isort` (and performing no other action), when I open a Python file within Vim I still get the above trace (one line at a time).  `pip uninstall isort` and I no longer get the traceback when opening a Python file in Vim.

I just recently fixed my `Black` code formatter

[2019-04-04 10:55] artkpv commented on #991
Thanks for this investigation. Have this issue on Win8. Probably to add at https://github.com/python-mode/python-mode#how-to-install  about `-c core.symlinks=true` for Win users.

[2019-04-04 10:56] artkpv commented on #978
Had this also. Thanks. Probably to add this at https://github.com/python-mode/python-mode#how-to-install.

[2019-04-04 12:13] diraol commented on #991
Hi @artkpv could you please do a Pull Request with such contribution? You are right, it should be there! =)

[2019-04-04 14:51] artkpv opened #1014 "`input()` requires argument"
Hello, Thank you for maintaining this tool. How to fix `input`?

In file there is only `input()`. On `:PymodeRun` it prints:

    pr.py|2 error| in <module> # c = input() TypeError: user_input() missing 1 required positional argument: 'msg'

Another related issue, breakpoints don't work. Also fails with `input`:

    import pdb; pdb.set_trace()  # XXX BREAKPOINT

breaks with:

[code]

Python 3.7 3

[2019-04-05 01:13] KamranMaharov commented on #996
Hi @diraol @Zarathustra2 , i made a PR for this issue, if you don't mind.
Tested with the above script which @diraol posted (thank you). Everything works fine.
aM - includes decorator part as well, if it exists.
iM/iC - is backward compatible, still chooses inner part of the method and class.
for aM/aC, behavior slightly changes to not include all the blank lines following method/class definition

[2019-04-09 12:32] artkpv commented on #1014
It looks like I installed it incorrectly. I used https://github.com/amix/vimrc and put python-mode using vim native package loading (new in vim 8). Appreciate any thoughts on how to fix it.

[2019-04-11 09:46] hugwi opened #1017 "Getting error while importing library but works fine if run from terminal."
datapre.py|2 error| in <module> import matplotlib.pyplot as plt
/home/hyggan/.local/lib/python3.6/site-packages/matplotlib/pyplot.py|32 error| in <module> import ma
tplotlib.colorbar
/home/hyggan/.local/lib/python3.6/site-packages/matplotlib/colorbar.py|34 error| in <module> import
matplotlib.gridspec as gridspec

[2019-04-11 10:03] hugwi commented on #1017
See attached edbug file
[pymode_debug_file.txt](https://github.com/python-mode/python-mode/files/3068045/pymode_debug_file.txt)

[2019-04-16 16:17] diraol opened #1019 "Travis CI tests Failing"
Not sure why, but it seems that something has changed in Travis CI and because of that our tests are failing.

We need to fix it.

It can be a nice opportunity to improve our test environment with a dockerized version (https://github.com/python-mode/python-mode/issues/977). This way we will be more agnostic to travis or other ci envs and also will be able to better test `python-mode` locally.

Tho

[2019-04-17 00:01] AdrienLemaire commented on #823
Can someone re-open this issue? Using neovim, pressing `<C-c>` gives me the same error.

@fmv1992 is moving away from C-c scheduled in python-mode's roadmap?

[2019-04-17 00:03] AdrienLemaire commented on #823
@diraol isn't `<leader>r` mapped to run python code already? Why did you choose this mapping as replacement to C-c in your fork?

[2019-04-17 00:25] diraol commented on #823
@Fandekasp I've remapped `<leader>r+<someotherkeys>`, not just `<leader>r`, as standing to `rope+<something>`.
But that was just a try, and I don't even remember if I have finished it completely.

Can you please post more information to help us track the problem?

[2019-04-17 00:41] AdrienLemaire commented on #823
@diraol I see, as long as we type `<leader>r<something>` quickly, this will work. Thanks for the quick reply.

[code]

Running python-mode ae6f8d5f710007d6bdb9b9da7f9e74eaa1da58a5 (2019-04-15) via vim-plug

[code]

If you need more information, please let me know. Regarding a new mapping, I don't mind using what the majority prefers, but I believe it's easier to learn mappings when each vim plugin

[2019-04-18 03:30] AdrienLemaire opened #1020 "[FAQ question] Errors and the location list"
Why are we using the location list to display pep8 errors?
It took me a while to figure out that the mappings to navigate through errors were `:lne` and `:lp` instead of `:cn` and `:cp`.

I can understand that linting errors are not "errors" per se, but it would be nice to explain this in the manual or FAQ document.

It also makes me wonder about the following: Are there situations where we can ha

[2019-04-19 20:58] larrybradley opened #1021 "Syntax highlighting for matrix multiplication operator?"
Python 3.5 introduced a new matrix multiplication operator (`@` and `@=`; https://www.python.org/dev/peps/pep-0465/).  Currently the `@` symbol is always highlighted as a decorator.  It would be great if the matrix multiplication operator could be highlighted the same way as other python operators.  It could be tricky in some line-continuation cases where the second line looks like a decorator:

[

[2019-04-23 22:08] chivalry opened #1022 "pymode won't install"
I realize I'm probably just missing a simple step somewhere, but I follow the instructions for installation by recursively cloning the repository into my plugins directory, where I've confirmed other plugins are located that work. But when I open vim, or MacVim, and execute `:help pymode`, I get an error: `E149: Sorry, no help for pymode`.

I `cd`ed into `~/.vim/plugins/start` and executed `git cl

[2019-04-25 10:59] pizdjuk opened #1023 "python-mode debugging hangs on run with breakpoints"
1. Do code
2. set breakpoint
3. do run
4. hangs with a status [Pymode] code running ...

only killall vim helps

[2019-04-27 21:47] dlbradford commented on #983
I am seeing a very similar issue after installing python-mode today.
"Error detected while processing function pymode#run#code_run[13]..pymode#tempbuffer_open:"
![pymode-error](https://user-images.githubusercontent.com/72617/56855396-6cf88700-6914-11e9-9310-938f36609599.png)

Vim version 8.1.1137
" My Plugins
Plugin 'vim-airline/vim-airline'
Plugin 'vim-airline/vim-airline-themes'
Plugin 'junegunn

[2019-05-02 20:27] KamranMaharov commented on #1019
It looks like this one has been failing:
https://github.com/python-mode/python-mode/blob/develop/tests/test_bash/test_folding.sh#L11

On my local environment `bash -x test.sh` passes all the test cases, but i use old version of vim.
```VIM - Vi IMproved 8.1 (2018 May 17, compiled Jun 17 2018 14:12:39)```
```Included patches: 1-72```

But, when launched from travis ci, it is failing.
Maybe it's rel

[2019-05-02 23:45] diraol commented on #1019
Yeah, I couldn't figure out the reason why the tests are failing.

And I haven't had time to look at what is going on also.

Any help is very welcome! (And I really think that moving to a dockerized version would benefit us!).

So, #977 can be a way to overcome this issue with Travis.

In #977 I've tested with vim compiled from the sources, so maybe even more recent than the one used by Travis.

[2019-05-03 00:22] KamranMaharov commented on #1019
Regenerated failure.
1)Updated vim to the latest version using`brew upgrade vim` (Mac OS X).
2)`cd python-mode/tests`
3)`bash -x test.sh` (this generates `/tmp/pymode_vimrc` as a side effect)

After this,
`vim temp.py`, then `echo &shiftwidth` gives 4. (which is expected).
But, `vim -u /tmp/pymode_vimrc temp.py`, then `echo &shiftwidth` gives 8. (this is something new which is happening after vim

[2019-05-03 08:12] KamranMaharov commented on #1019
@diraol , issue was related to new plugin layout which is coming with new vim version.
https://vimhelp.org/repeat.txt.html#%3Apackloadall

i'm not an expert in ci systems and maybe not the best solution to this, but created PR to address this ci failure.
https://github.com/python-mode/python-mode/pull/1024
please let me know if it works for you.

[2019-05-03 11:19] diraol commented on #1022
Hi @chivalry sorry for taking so long to answer.

We may have a problem with our documentation. The right flag is not `--recursive`.

Take a look at: https://github.com/python-mode/python-mode/pull/1013

[2019-05-03 22:08] #1022 closed, assigned to nobody

[2019-05-04 00:29] chivalry opened #1025 "Have pymode read a project's setup.cfg or other file that specify longer line lengths"
I'm experimenting with pymode, and saw that it's using the default 79 character line lengths. I'm working in a project that has a `setup.cfg` file that sets flake8's max line length to 99, my own preference.

If there's any interest, I can edit the plugin to read any of the various configuration files used by flake8 and use that as the max line length. I just don't want to do it if it would be rej

[2019-05-04 15:12] rideoff opened #1026 "goto define."
![图片](https://user-images.githubusercontent.com/8640579/57181079-d56dd800-6ec1-11e9-8190-f791f36f62c0.png)
![图片](https://user-images.githubusercontent.com/8640579/57181087-f20a1000-6ec1-11e9-9758-4134a0c3854b.png)
How to switch between two defined files?
Thank you

[2019-05-05 21:17] Migacz85 opened #1027 "Error in pymode#buffer_post_write"
Not quite sure what is causing this error. I messed up something or this is an bug?
It occurs in rare situation when writing a file.

![image](https://user-images.githubusercontent.com/25789997/57200376-25f93a00-6f83-11e9-9e17-f5a635b648e6.png)

[2019-05-07 07:37] yalimpop commented on #1023
+1

[2019-05-09 18:42] blayz3r commented on #1023
+1 Breakpoints not working

[2019-05-11 13:37] diraol commented on #1027
@Migacz85 can you try getting the latest version of python-mode and also removing all "temporary" files from python-mode path and subpaths? (take a look at our README, there is a oneliner with `find` to delete them.

[2019-05-11 13:40] diraol commented on #1023
@pizdjuk and @yalimpop can you try updating python-mode to the latest version (development branch) and clean all temporary files? (There is an oneliner with `find` in our README).

[2019-05-11 14:37] diraol commented on #972
It seems that this issue keeps coming back again and again!

Some other issues to take a look from other projects/repos:
 - https://github.com/vim/vim/pull/3954
 - https://github.com/vim/vim/issues/3984
 - https://github.com/pypa/setuptools/pull/1563#issuecomment-463801572
 - https://github.com/pypa/setuptools/pull/1563

[2019-05-11 17:11] diraol commented on #1023
Hum... I think it is still an issue.
Not sure where it is breaking though...

[2019-05-13 01:18] diraol commented on #935
Updating this issue.

I've bumped a new version for python-mode `0.10.0`, which is intended to be the latest version with support for python2.
From now on, all `0.10.x` versions will receive the minimum patches related to python2, and I intend to focus on developing `0.11.x` with python 3 support (eventually it can work with python2, but I won't look for that).

My first step is trying to update o

[2019-05-13 01:20] diraol commented on #1026
Hi @rideoff, I didin't understand your question. Would you please elaborate it a little bit more, please?

[2019-05-13 01:28] diraol commented on #1025
Hi @chivalry, sorry for taking long to answer.
I haven't had time to dedicate myself to the project. But for sure contributions are more then welcome!

It would be very nice to be able to have local config files "per-project", not only for flake8 but also for other linters. =)

[2019-05-13 01:30] chivalry commented on #1025
I'll get on it, then. :) I'm rather a Python newbie, so I'm unfamiliar with other linters, but I'll work it in for flake8 and then research support for others.

[2019-05-13 01:31] diraol commented on #1021
Hum... indeed this is a very tricky one.

I do agree that we should look for support for it, but I won't be able to put effort on it.

If you can give a try and propose a solution it would be very nice! =)

[2019-05-13 01:37] diraol commented on #1020
Hum.... sincerely? I have no idea! :p

I'm trying to maintain this project for some time, but I haven't been here since the beginning. So I don't know exactly why this was decided.

Actually, I didn't even knew about these windows differences in vim.

If you think it make sense to be as it is now, and we just miss some documentation, It would be nice if you could send us a Pull Request with a prop

[2019-05-20 03:40] rideoff commented on #1026
49/5000
Thank you for your answer. When jumping to the definition, you need to manually select the file to jump to. I would like to ask how to move the cursor up and down to select the file

[2019-05-20 11:01] qoheniac commented on #1021
Same issue here: https://github.com/vim-python/python-syntax/issues/42

And here the implementation in the Vim repository:
https://github.com/vim/vim/blob/a87b72cc316e065d66dcbcf7ec1cde330adef3a3/runtime/syntax/python.vim#L111

[2019-05-22 12:07] 1900018250 commented on #823
think you

[2019-05-22 12:08] 1900018250 commented on #823
@kedpter think you!

[2019-05-23 15:54] cdleong commented on #977
I have some CI/Docker experience. Anything in particular you need help with here?

[2019-05-30 04:37] #884 closed

[2019-06-01 20:37] blayz3r commented on #1014
![2019-06-01_16-37-45](https://user-images.githubusercontent.com/12205650/58753339-a5e3c880-848b-11e9-89f4-15d6c78d6b25.png)
import pdb; pdb.set_trace()  # XXX BREAKPOINT breaks pymode run for me too. Windows 10, latest gvim.

[2019-06-06 15:19] HaleTom commented on #902
I also have the same problem with the latest `python-mode`.

In `:messages` I see:

[code]

[code]

Please re-open.

[2019-06-07 06:28] HaleTom opened #1030 "Prevent multiple issues related to KeyError: 'pylint'"
Issues related to `KeyError: 'pylint'` are quite common: #774 #775 #783 #863 #864 #902

Here's the general gist:

[code]

It took me ages to to work out the solution

For the googlers:

Don't use `master`, use `develop`:
    NeoBundle 'python-mode/python-mode', 'develop', { 'on_ft': 'python' }

It took me a while to realise that I then had *two* plugin directories:

* `bundle/python-mode`
* `bundl

[2019-06-07 06:29] HaleTom commented on #902
I found and documented my solution in #1030.

[2019-06-07 14:00] diraol commented on #1030
@HaleTom
the *default* branch from this repo is the develop branch. Which means that if you clone this repo it will clone the *develop* branch and not the *master* one.

Also, in the `README.md` you can find instructions about how to install it using several plugin managers - even windows specific instructions.

https://github.com/python-mode/python-mode#how-to-install

We've migrated to the devel

[2019-06-07 14:01] diraol commented on #1030
Btw, if there is any plugin manager instruction missing, Pull Requests are welcome! :)

[2019-06-08 05:31] rwideman opened #1031 "2 Errors on any python file I open"
Mac OS Mojave, latest brew/vim, vim 8.1.1450.  I am using vim-plug and I have validated that with python-mode removed I do NOT get these errors, with it installed I do. Using Python 3 and on any python file I open these errors show.

Errors:
Error detected while processing function pymode#breakpoint#init:
line   27:
/must>not&exist/foo:2: DeprecationWarning: the imp module is deprecated in favour

[2019-06-08 05:58] HaleTom commented on #1030
It must have been a glitch in Neobundle... perhaps I killed it because the submodule clone was taking a long time, and it didn't recover properly.

Here's the config which I confirm working for NeoBundle:

[code]

[2019-06-08 11:46] diraol commented on #1031
Hi @rwideman you are probably using an old version of python-mode of you are using the wrong branch.

Please, take a look at our readme on how to install python-mode. There are also some tips about it over there from common problems.
Oh, and make sure you are using the `develop` branch.

[2019-06-08 11:52] diraol commented on #932
Ping .... one day I'll be back to this...

[2019-06-13 03:36] qiuhefeng opened #1032 "Does not work"
when open vim, have some error.
I don't know why.
how to fix it ?

os :  Win 7
output with `vim --version`:
![image](https://user-images.githubusercontent.com/37201542/59401928-08fc2600-8dcf-11e9-8cb7-8b344338d7e7.png)

output with `python version`:
[code]

output with `debugvimrc.vim`:
[code]

[2019-06-13 09:35] #1032 closed, assigned to nobody

[2019-06-16 07:05] rwideman commented on #1031
yes, this was it, my apologies

[2019-06-16 07:05] #1031 closed, assigned to nobody

[2019-06-19 08:55] g-i-o-r-g-i-o commented on #978
How did you fix this under windows 10?
I get
error running function pymode#breakpoint#init:

Tracebak...:
file .... submodules/six/six.py
SyntaxError: invalid syntax

[2019-06-19 12:42] diraol commented on #978
@GianniGi , please, read the [README](https://github.com/python-mode/python-mode/blob/develop/readme.md) on how to install python-mode (and look for windows related comments over there)
https://github.com/python-mode/python-mode#symlinks-on-windows

[2019-06-19 12:43] diraol commented on #978
Since this is an old and solved issue, I'm locking it.
If the content here does not fit anymore, please open an new issue.

[2019-06-21 01:53] smile-kindred opened #1033 "when completion automatic selection the first one, why?"

[2019-06-25 00:47] AdrienLemaire opened #1034 "Documentation request: explain signs"
Can we add more details in the `pymode.txt` file regarding the signs?

[code]

Starting with the first sign, I tried adding some todo statements in my code, but **PymodeLint** won't add the sign, so I'm wondering when that sign is supposed to show up

[code]

Thanks in advance for your support!

[2019-06-25 14:12] ncpnc opened #1035 "Is project dead?"
I love python-mode.
I've been using it a lot last two years. Unfortunately it seems that project can't keep up up with the world with current contributors engagement. @klen apparently abandoned the project two years ago. #823 is open since dec 2017 and no one really made a serious effort to deal with it, although it made python-mode unusable (most of it cool features) with vim8. @diraol stated in

[2019-06-26 00:20] AdrienLemaire commented on #728
It would be nice to add this configuration line  `let g:pymode_rope_autoimport=1` to the pymode.txt file.

[2019-06-29 10:33] lieryan commented on #1020
I think displaying pep8 errors makes a lot more sense in location list than in quickfix list. The pep8 checker tool works in a single file and location list is local to a single file so they're already a match; you can have multiple active location lists (one for each window) but you can only have a single quickfix list for the entire vim session.

[2019-06-30 21:38] diraol commented on #1035
Hi @ncpnc,

I am myself a daily user of this extension, and I've become a kind of "maintainer" of it for this same reason.

As I've said, I haven't had time for the project, and that won't change. Actually I'll have less and less time in a few months (my child is expected to September).

I'd love to see a group maintaining `python-mode`. Is is a hard job for one single person, so a group of three

[2019-06-30 21:44] #1030 closed, assigned to nobody

[2019-06-30 21:44] diraol commented on #1030
Thanks @HaleTom !

[2019-07-05 16:22] reillysiemens commented on #1033
@smile-kindred: I had this issue too and was able to resolve it to my satisfaction by following this suggestion from the `:help pymode` documentation.

instead of using a popup menu. If the complete item which inserted is not
your wanted, you can roll it back use '\<c-w\>' in Insert mode or setup
'completeopt' with menuone and noinsert in your vimrc. .e.g.

[2019-07-06 04:52] #934 closed, assigned to nobody

[2019-07-07 10:02] mrprofessor commented on #842
@nineKnight @fmv1992 I like the Idea. But It also highlights when I try to create an object.

<img width="457" alt="image" src="https://user-images.githubusercontent.com/11652364/60766787-751b3280-a0cc-11e9-9133-5ff50b0da222.png">

[2019-07-10 03:11] smile-kindred commented on #1033
thanks

[2019-07-10 12:14] #1033 closed, assigned to nobody

[2019-07-12 06:57] nineKnight commented on #1006
It happens to me when nerdtree is toggled.
Add this into your .vimrc and it may help:
[code]
But the root solution is about b:pymode_modified. I try changing it to t:pymode_modified and it seems to be fixed. @diraol

[2019-07-19 11:01] vkresch commented on #1003
@matt24smith can you post your workareound solution? I have the same issue.

[2019-07-19 17:14] matt24smith commented on #1003
@Blind0ne I use [vim-slime](https://github.com/jpalardy/vim-slime) to multiplex my vim terminal outputting to a second terminal containing an interactive python window

[2019-07-20 17:23] #968 closed, assigned to nobody

[2019-07-21 15:20] #969 closed, assigned to nobody

[2019-07-22 05:34] blayz3r commented on #1023
+1

[2019-07-23 01:44] faisal6621 commented on #780
I have the similar issue while adding repository for [ubuntu](https://github.com/vim-scripts/Python-mode-klen#debian-packages):
[code]
and if I remove the `main` then:
[code]
This is the entry I have in the software sources
![apt-repo](https://user-images.githubusercontent.com/1015900/61676771-cc4f1300-ad1a-11e9-92d3-0e09885e5467.png)

[2019-07-23 16:11] diraol commented on #780
@python-mode is not under klen github anymore for a long time. You won't be able to use such way to install python-mode. Please, refer to our README to check possible ways to install python-mode (there is not apt alternative!).

[2019-07-24 05:29] faisal6621 commented on #918
Would have been better if you cared about future post readers about how and what you have figured out.

[2019-08-05 07:54] #967 closed, assigned to nobody

[2019-08-06 06:34] maidwithwound opened #1038 "undefined symbol: PyList_Type"
[code]

Gentoo linux:
`Linux nautilus 4.19.52-gentoo #1 SMP Sun Jul 7 00:02:17 MSK 2019 x86_64 Intel(R) Core(TM) i5-3470 CPU @ 3.20GHz GenuineIntel GNU/Linux`

[code]
`Python 3.6.5`

PymodePython import sys; print(sys.version_info) output:

`sys.version_info(major=3, minor=6, micro=5, releaselevel='final', serial=0)
`
virtualenv not using

when i use PyQt5, i always see error:
`in <module> from Py

[2019-08-06 06:36] maidwithwound commented on #1038
but when I use files with PyQt5 without vim it works

[2019-08-07 07:42] maidwithwound commented on #1038
i've swithced to neovim. On it works perfetcly

[2019-08-07 16:08] #981 closed, assigned to nobody

[2019-08-07 16:08] #962 closed, assigned to nobody

[2019-08-07 22:00] ieglandDRS commented on #991
Would put this in #978, but it's locked, so I figured I'd put it here.

**Warning!** Though this _should_ work, it's not working for me. See [below](https://github.com/python-mode/python-mode/issues/991#issuecomment-519548253) for more info.

Cygwin users will have to ensure that Windows-native symlinks are turned on before running the clone. If native symlinks are available, this should work. If

[2019-08-07 22:02] diraol commented on #991
Hi @ieglandDRS would you mind sending a Pull Request to add this tip into our README? :)

[2019-08-07 22:14] ieglandDRS commented on #991
I'm open to it, but you may not want it. I'm still having troubles with it. When I get things worked out, I'll send one.

[2019-08-07 23:22] ieglandDRS commented on #991
I dunno what else to try here. I've tried each Cygwin symlink mode, and I've verified that I can make a symlink from cygwin and from the command prompt, all under an administrator account. I can clone with the symlinks flag without error, too. But for some reason, Vim still complains about missing python27.dll.

Definitely not pull request ready, but I'm going to leave this and maybe come back to

[2019-08-07 23:24] diraol commented on #991
@ieglandDRS have you tried what is described in our documentation?

[2019-08-08 02:32] #954 closed, assigned to nobody

[2019-08-08 09:50] vsego commented on #912
I know that this was closed, but I think you're missing something:

There is a very legitimate reason to want to keep spaces at the end of the lines. Consider this:
[code]
in some markdown editor (for example, https://jbt.github.io/markdown-editor/). The last paragraph will be in two lines, because Markdown interprets 2 spaces at the end of a line as a new line, which is useful in list items with

[2019-08-08 14:41] ieglandDRS commented on #991
I have. At least, I think I have.

This (taken from the README) runs in cygwin with no modifications:
[code]

However, this doesn't exactly match my use case. I'm trying to install pymode for the windows version of Vim. By default, the windows version of vim looks for packages in the following places, is indicated by `:set packpath`:
`packpath=~/vimfiles,C:\Program Files (x86)\Vim/vimfiles,C:\Prog

[2019-08-08 15:21] diraol commented on #991
Hum.... eventually could this be a problem with your PYTHONPATH env variable? (not sure how things work in windows, but if the issue is related to `python27.dll` that would be my guess).

[2019-08-08 16:02] ieglandDRS commented on #991
Great tip! I found the answer!

First, I found out how to interrogate vim about whether or not it has python available.
[code]
A 1 as an answer here means that python is available. A 0 as an answer here means that python is unavailable. I had 0 for both!

Then I found this stackoverflow [answer](https://stackoverflow.com/a/27485394/5133587) which says that, basically, if you want to use the 64-bit

[2019-08-08 16:34] ieglandDRS commented on #991
It looks like I wasn't crazy when I started exploring the different types of Cygwin symlinks.
The "no encoding declared" error is because pymode\libs\six.py isn't properly symlinked! If you view it in cygwin, it looks fine. If you view it in Windows - which is what Vim for Windows will see - you get this basic symlink stub file:
![hard to print reliably symlink contents showing a relative path to

[2019-08-08 17:01] ieglandDRS commented on #991
It appears that none of the Cygwin symlink modes are compatible with Vim for Windows, even when it's run with administrator privileges. Every time I try it, I either get the above "no encoding declared" error, or a different error.

More broadly, this may mean that Windows symlinks aren't a viable option for Windows users of Vim.

[2019-08-08 19:11] ieglandDRS commented on #991
Well well well! I think that Vim does support Windows native symlinks because they're supposed to be transparent to the programs that follow them. However, native symlinks are not being created successfully using `nativestrict`.

[code]
In `native` mode, failures like this are coped with by creating a Cygwin link, which creates the "no encoding declared" error. The last mode, `lnk` just creates Wi

[2019-08-08 20:54] ieglandDRS commented on #991
Here's another potential interpretation of the "unable to create symlink...No such file or directory error":

When git clones a repository with submodules, it MAY go a little something like this:

1. Clone the respository's files.
2. Create the symlinks to the submodules where necessary
3. Clone the submodules where necessary

According to https://ss64.com/nt/mklink.html and https://ss64.com/bash/

[2019-08-08 20:58] ieglandDRS commented on #991
And I'm not crazy! Someone else caught this, too!
https://sourceware.org/ml/cygwin/2018-09/msg00115.html

[2019-08-08 21:08] cup commented on #991
https://github.com/me-and/Cygwin-Git/issues/27

[2019-08-08 21:18] ieglandDRS commented on #991
And before that guy, there was a much longer discussion that included a key difference between POSIX symlinks and NTFS symlinks - that POSIX symlinks can point to either a file or directory, while you have to specify whether an NTFS symlink points to a file or directory upon creation. In any case, however, one should be able to point a symlink to a non-existent target - but in Cygwin that function

[2019-08-08 22:11] ieglandDRS commented on #991
I made a stackoverflow post about this: https://superuser.com/questions/1469330/why-cant-i-clone-a-git-repository-with-submodules-in-cygwin-using-windows-nativ/1469332#1469332

[2019-08-12 15:59] AlexisGoodfellow commented on #817
I am also running into this - can the hardcoded syntax file dependency be upgraded?

[2019-08-12 16:05] diraol commented on #817
@AlexisGoodfellow I have started doing it, but it is not yet working and I have no time to dedicate to it now :(

So, contributions are very welcome!

https://github.com/python-mode/python-mode/pull/1005

(Really, I would love to keep working on it... lacking free time)

[2019-08-12 18:03] ieglandDRS commented on #991
The best way around this limitation seem to be to either:

1. Use this guy's script to augment git functionality. https://stackoverflow.com/a/16754068/5133587
2. Use this guy's script to figure out which files need to be copied and copy them manually, after cloning the repository without the native symlinks flag: https://stackoverflow.com/a/5930443/5133587

[2019-08-12 20:21] #997 closed, assigned to nobody

[2019-08-15 09:55] smheidrich commented on #998
IMHO this isn't stale (I have the same issue still).

[2019-08-15 20:00] #988 closed, assigned to nobody

[2019-08-15 23:18] florencewalker commented on #817
I'm using Python 3.7.4 and am having this same problem with f-strings.

[2019-08-16 12:09] smheidrich commented on #998
Nevermind actually: It does work if you have rope enabled (``let g:pymode_rope = 1``). I had it disabled because it tends to make vim quite sluggish...

[2019-08-16 20:55] jenrzzz commented on #817
Updating the pyflakes submodule to 2.1.1 fixed this for me. After the update, I was still getting an "invalid syntax" error but that one turned out to be from Syntastic, which was also using the wrong version of pyflakes.

[2019-08-16 22:34] florencewalker commented on #817
So it ended up that I was being a complete idiot in not knowing that Macs come with python2 installed and that they use that as the default python. I am a total n()()b
________________________________
From: Jenner LaFave <notifications@github.com>
Sent: Friday, August 16, 2019 20:55
To: python-mode/python-mode <python-mode@noreply.github.com>
Cc: florencewalker <florence_walker@hotmail.com>; Comme

[2019-08-20 11:49] adrienverge commented on #887
@stale here is a comment so that you don't close the issue. It's not solved yet. Please let it open so that other users can find it easily.

[2019-08-20 14:26] xuyangy opened #1039 "syntax highlighting is gone if jump right after opening file"
If I do a search(and the first match is at, say line 200) or if I do a jump, e.g. 150G, **right after the file is open**, then the syntax highlighting is gone. The script is around 500 lines of code.

[2019-08-25 01:04] #995 closed, assigned to nobody

[2019-09-05 06:21] #1007 closed, assigned to nobody

[2019-09-05 06:21] #1002 closed, assigned to nobody

[2019-09-05 17:30] #1008 closed, assigned to nobody

[2019-09-06 10:30] #1001 closed, assigned to nobody

[2019-09-11 12:12] #1011 closed, assigned to nobody

[2019-09-14 23:48] #1010 closed, assigned to nobody

[2019-09-18 14:10] sumit2840 commented on #586
In many situation the "apt-get install" provides an alternative way in the installing of any package if the "git clone" throws any ERROR and the all goes vice-versa.
"E 28: no disk space left "is such a situation where the git clone come under no use there u can try the api-get install medium.

[2019-09-18 16:30] jajajasalu2 commented on #977
I won't mind helping. What's the status on this?

[2019-09-18 17:33] NicolasWebDev commented on #862
No way to implement that? It would be really neat.

[2019-09-21 02:28] #1012 closed, assigned to nobody

[2019-09-23 01:37] #996 closed, assigned to nobody

[2019-09-29 11:12] #1017 closed, assigned to nobody

[2019-10-07 10:35] ljl3937 opened #1040 "ModuleNotFoundError: No module named 'pymode.libs.six'"
I'm using a Mac here,when I opened the .py file with vim, the error was as follows:

[code]

But I didn't find this class library.

[2019-10-07 12:34] fmv1992 commented on #1040
I had the same problem. I will submit the solution soon.

[2019-10-08 03:23] diraol commented on #1040
You are probably missing the step to clone the submodules. Please, look at
the Readme's FAQ and install sections.

[2019-10-08 08:57] ljl3937 commented on #1040
I installed it in vim-plug mode, so there is no cloning. So far, there is no problem with the cloning installation.

[2019-10-08 08:57] #1040 closed, assigned to nobody

[2019-10-08 13:33] chazubell commented on #979
Thanks.

[2019-10-08 14:37] fmv1992 commented on #1040
I was having this problem; 7fbf9eb0a18c093f841a1e5afe2f57a6df2e6337 can't harm.

[2019-10-08 15:02] ljl3937 commented on #1040
@fmv1992 Thank you very much!

[2019-10-12 06:38] liyiheng commented on #772
vim abc.py
[code]
Because there is a `abc` module in std lib.
[code]
Still have no idea

[2019-10-15 22:57] #983 closed, assigned to nobody

[2019-10-21 09:31] #1019 closed, assigned to nobody

[2019-10-21 15:15] kevinkjt2000 opened #1042 "Visual selection has to go one character past"
Say I have the following file:
[code]
and I want to refactor that file to be:
[code]
For a long while I struggled through what I thought was a reproduction of https://github.com/Microsoft/vscode-python/issues/1568, but it turns out that it may have been a user error based on my visual selection.

I selected `"spam"` by placing my cursor in the middle of the word, pressing `va"` from command mode,

[2019-10-21 15:17] kevinkjt2000 commented on #1042
Versions:
python-mode 7fbf9eb0a18c093f841a1e5afe2f57a6df2e6337
rope 0.14.0
nvim 0.4.2

Relevant configuration:
[code]

[2019-10-22 00:01] unicell commented on #1006
Hit the same thing with `nerdtree-git-plugin` installed. Confirmed the issue went away after updating `NERDTreeIgnore`

[2019-10-22 00:24] unicell commented on #1006
Adding `let NERDTreeIgnore=['\.pyc', '\~$']` does not fix the issue my side, but turning off `nerdtree-git-plugin` does make it go away.

[2019-10-25 16:21] tiantengfei opened #1043 "Error detected while processing lint vim"
The following is the messages:
[code]

python version: 3.4.6
vim version: Vi IMproved 8.1 (2018 May 18, compiled Jul 22 2018 15:18:22)
macOs Mojave 10.14.15
sys.version_info(major=2, minor=7, micro=15, releaselevel='final', serial=0)
no virtual environment

[2019-10-29 13:47] #1027 closed, assigned to nobody

[2019-10-30 22:09] marcelosena opened #1044 "Vim pymode in windows"
I am trying to use pymode in Windows but I am having a hard time. I have managed to clone it into C:\Users[USER].vim\pack\python-mode\start\python-mode and vim seems to run normally in python 2 (this is what `:python import.sys; sys.version()` prints:

`2.7.15 (v2.7.15:ca079a3ea3, Apr 30 2018, 16:22:17) [MSC v.1500 32 bit (Intel)]  `

But when I try using `:help pymode` it says nothing is founds.

[2019-10-31 01:45] #1025 closed, assigned to nobody

[2019-11-05 12:38] amcgregor commented on #1043
Platform: macOS Catalina Public Release 10.15.1 (19B88), iMac (Retina 5K, 27-inch, Late 2015).

[code]

Installed via `brew cask install macvim` ([formula](https://github.com/Homebrew/homebrew-core/blob/master/Formula/macvim.rb)) with Python 2 and 3 supplied via `brew install python python@2`, with `.vim` and `.vimrc` from my [dotfiles](https://github.com/amcgregor/dotfiles/tree/dotfiles/.vim).  (

[2019-11-05 15:57] diraol commented on #1043
Hi Alice, by including python-mode using submodule you are probably not cloning python-mode submodules too.

That's the reason it is failing for you, missing submodules.

I'd suggest you to avoid this approach and go with a standard vim plugin install approach, much easier :)

[2019-11-05 17:05] amcgregor commented on #1043
It was my understanding that handling submodules of submodules was the purpose of the `--recursive` flag.  If I'm wrong about that, that'd explain a lot!  ;)  Example invocation to update my `dotfiles` repo submodules:

[code]

There is one?  Like, really?  _Really_ really?  Because the very first statement from the [installation instructions](https://github.com/python-mode/python-mode#manually-ac

[2019-11-05 18:53] diraol commented on #1043
Have you "inited" the submodules recursively too?

By "standard approach" I was refeering to "use a plugin manager", such as "Plug" (or Vundle or Pathogen)

[2019-11-06 16:27] amcgregor commented on #1043
There is no recursive option to init; nor any options of any kind according to `--help`.  Notice the overlap when cloning:

[code]

[code]

In my many, many years of using Vim (ye gods, what a way to feel old) I have never intentionally utilized a "plugin manager".  _Technically_ I think there's one Pathogen plugin in my set, and Pathogen itself.  Though now that I look into it, those can be remov

[2019-11-07 03:39] undertakingyou opened #1045 "imp module is deprecated in favour of importlib"
Error detected while processing function pymode#breakpoint#init:
line 27:
/must>not&exist/foo:1: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses

Seems that the breakpoint.vim file uses an import that throws a python depreciation error.

[2019-11-07 03:46] undertakingyou commented on #1045
I have created a PR of my fix that resolved the issue for me. https://github.com/python-mode/python-mode/pull/1046

Please note, I ran `:help pymode-development` as instructed in the readme, and and vim said that particular help doesn't exist. If there is something different that I should do on my branch, please let me know.

[2019-11-07 06:55] #1026 closed, assigned to nobody

[2019-11-07 11:55] #1021 closed, assigned to nobody

[2019-11-08 16:12] semaraugusto opened #1047 "pymode_python == 'python3' not working on fstrings"
I've put the command

`let g:pymode_python = 'python3'`

on my vimrc. However, when I edit a python file with a fstring, such as:

`print(f'not 0 indexed filename: {filename}')`

It still gets me an error:

``E999: SyntaxError: invalid syntax `

How can I get pymode to use python3.7 as the python interpreter?

output from vim --version:

`→ vim --version`

`VIM - Vi IMproved 8.1 (2018 May 18, comp

[2019-11-09 00:39] diraol commented on #1047
Hi @semaraugusto your python was built Linked to python3.5 (take a look at the last two lines of your message), thus it will use python3.5 for everything.

If you'd like to use python3.7 you should either build vim with "dynamic python linking" or with python3.7 itself.

[2019-11-09 00:41] diraol commented on #1045
Hi @undertakingyou As I've commented in your PR, imp module was deprecated in recent python versions, but we still support older versions, thus I am not sure if we can really remove it. :(

But it shouldn't be a problem if you setup is correct, in terms of python version with which vim was built and the current running and configured versions.

[2019-11-09 00:45] diraol commented on #1044
Hi @marcelosena, yeah, vim and windows together is not the most common set of tools. I don't even have a windows to test things here.

Regarding python-mode help not showing up, take a look at this section from our Readme:
https://github.com/python-mode/python-mode#symlinks-on-windows

Regarding python version, you should check:
 - which python version you have installed and in your Path
 - Which

[2019-11-09 12:58] #823 closed

[2019-11-15 03:13] YHYJ opened #1048 "lint.vim & python3.8.0"
i use Arch Linux, just upgraded to python3.8.0, now `lind.vim` error occurred in python-mode, then i uninstalled python-pylint and the bug was fixed.

[2019-11-17 19:33] blayz3r opened #1049 "Popup help doc"
Been very quiet in here. Anyway, is there any way to customize to the function pymode#doc#find() to use the "new" vim popup feature?

[2019-11-17 20:20] diraol commented on #935
Hi all.

As I've stated in many issues, I haven't had time to work on python-mode during past months.

But I think I may have some time to dedicate to the project in December.

As python2 EOL is very close, I think that moving on with this issue is the best way to give some future for the project, reducing some complexity, legacy dependency issues and, eventually, enable us to keep it useful for e

[2019-11-17 20:22] diraol commented on #1049
Hi @blayz3r can you please take a look at this comment:
https://github.com/python-mode/python-mode/issues/935#issuecomment-554782399

I think this is a very nice way to start moving forward in order to be able to have new features (by the way, I haven't seen anything about vim popup feature until now)

[2019-11-17 20:23] diraol commented on #1048
Hi @YHYJ yeah, we haven't made any updates in order to support python 3.8, we have plenty of not updated dependencies and other issues.
Would you mind taking a look at this comment that I think can help with this issue:
https://github.com/python-mode/python-mode/issues/935#issuecomment-554782399

[2019-11-17 20:24] diraol commented on #1047
@semaraugusto were you able to make it work?

[2019-11-17 20:36] diraol commented on #1043
Hi @amcgregor were you able to make it work after all?

Python mode have many issues, some of them due to supporting python2, among other things.

Over [here](https://github.com/python-mode/python-mode/issues/935#issuecomment-554782399) you can see what I think is the best way to start improving python-mode. Any help would be very very welcome! :)

[2019-11-17 21:20] diraol commented on #935
Regarding "what to do", I think we can start looking for on the codebase places where we are checking python version and drop "python2 specific code" (or even python <= 3.5).

Probably the "imp/importlib" module will be the "most relevant" here - that have been causing many troubles. Or eventually the usage of the `six` library too.

After that I would try to update all of our dependencies (submod

[2019-11-17 22:34] blayz3r commented on #1049
Ok great thanks!!

[2019-11-20 00:41] #1014 closed, assigned to nobody

[2019-11-26 12:48] #932 closed, assigned to nobody

[2019-11-28 14:08] cdleong commented on #935
I'll try to take a look during December as well. I use python-mode on pretty much a daily basis, so it's in my own interest to contribute.

[2019-11-29 12:26] aizhouyi opened #1050 "对于运行时间很长的程序来说，这太不好了"
我需要时刻查看脚本运行的状态
调试过程中我会打印日志
这个是一次性把所有的print呈现出来，我非常苦恼
有什么方法可以改进吗

[2019-11-29 12:27] aizhouyi commented on #1050
I need to see the status of the script at all times
I will print the log during debugging
This is a one-time display of all the print, I am very distressed
Is there any way to improve

[2019-12-05 22:11] avacariu commented on #935
Hi, I'm interested in taking a look at this, too, and can open a PR which removes Python 2 support in the next few days. Does anyone have any work they've already done, or can I just start from the latest commit in `develop`?

[2019-12-07 01:41] AaronM04 commented on #523
Just curious -- why was this closed? I am on commit f94b0d7 and still experiencing this problem (without the workaround mentioned above).

[2019-12-09 12:19] diraol commented on #935
Hey @avacariu, thanks for you contribution!
I'll try to take a look and review it in the following two weeks.

But if other people can review it and try it would be great too, I think we need more than one reviewer here ;)

[2019-12-09 12:31] diraol commented on #523
I'd say that because there is not enough hands on the project to make it happen and we have a satisfactory alternative for it very compelling in terms of DRY. Actually, I'd say that we should even remove folding from python-mode (if we have hands for it) since there are much better folding solutions around (better maintained, with better compatibility both with python and other languages too).
Doe

[2019-12-09 12:31] diraol commented on #523
@AaronM04 :point_up: (I forgot to mention you, sorry)

[2019-12-10 00:00] vyasr opened #1052 "Asteroid needs updating"
The commit of `asteroid` that is currently pinned to causes problems for `pylama.lint`:
[code]
I was able to resolve the problem by simply checking out the master branch of the `asteroid` submodule, but I don't know if that is a feasible general solution or if it breaks compatibility. It sounds like moving on from python2 is part of the plan whenever the developers have time, so that may help amel

[2019-12-10 03:56] AaronM04 commented on #523
Good to know, thanks!

I like the idea of removing folding from python-mode if there are better plugins for this. Can you tell me what other folding solutions would be better, though?

And I am not sure why I am on this commit. I'll fix that.

[2019-12-10 08:59] matianhe3 opened #1053 "This Vim cannot execute :py3 after using :python"
Error detected while processing function pymode#run#code_run:
line   10:
E837: This Vim cannot execute :py3 after using :python
E263: Sorry, this command is disabled, the Python library could not be loaded.

VIM version: 8.1
Python version: 3.7.5

[2019-12-10 13:18] diraol commented on #523
Hi @AaronM04 regarding the commit, take a look at our README.md, you will find instructions there on how to properly install python-mode.

About folding, take a look at this comment: https://github.com/python-mode/python-mode/issues/523#issuecomment-362868426 (from this same issue), there is a good alternative over there ;)

[2019-12-10 13:19] diraol commented on #1053
@matianhe can you confirm that your vim was built with python3 support? (can you paste here the output of `vim --version | grep python`?)

[2019-12-10 14:24] matianhe commented on #1053
![image](https://user-images.githubusercontent.com/24929062/70537633-bd6adf00-1b9b-11ea-8aac-06e4bc2b6e56.png)

[2019-12-10 14:25] matianhe3 commented on #1053
![image](https://user-images.githubusercontent.com/24929062/70537633-bd6adf00-1b9b-11ea-8aac-06e4bc2b6e56.png) @diraol

[2019-12-10 14:54] diraol commented on #1053
@matianhe I remember reading that vim with both python and python3 support enabled is problematic. You probably should choose one of them.

Take a look at this: https://github.com/vim/vim/issues/3585

[2019-12-11 07:22] #1053 closed, assigned to nobody

[2019-12-11 12:36] diraol commented on #1053
@matianhe did it work?

[2019-12-11 13:29] matianhe3 commented on #1053
@diraol yes, It looks like work.

[2019-12-13 01:28] #1034 closed, assigned to nobody

[2019-12-13 15:31] amcgregor commented on #1043
@diraol Apologies for the delay.  After a few attempts re-cloning my dotfiles repo with various recursive options, and attempting a variety of post-clone submodule update invocations, I appear to have managed to silence most of the errors which frequently interrupt workflow.  E.g. a page of exception on each save/write.  I haven't managed to restore complete functionality, yet, nor silence errors

[2019-12-14 16:16] #935 closed, assigned to nobody

[2019-12-14 16:16] #1045 closed, assigned to nobody

[2019-12-14 16:31] diraol commented on #1043
Hi @amcgregor !
Thanks for the feedback.

Re-reading this thread I've noticed that I left pass the fact that you are using vim compiled with support to both python2 and 3.

As I've stated in #1053 vim does not work nicely with both versions at the same time.

Would you mind trying with only one version?

Also, today I've just accepted an MR and updated our code base to drop python2 support. Would

[2019-12-14 16:35] diraol commented on #1038
Hi @Myrkonianin,

Sorry but I couldn't understand your problem....

Anyway, this may be an issue with the same origin as #1053.

[2019-12-14 16:35] #1035 closed, assigned to nobody

[2019-12-14 16:49] cdleong commented on #817
Dear [Future Users:](https://xkcd.com/979/)
It turns out that "vi" and "vim" aren't the same thing.

If you're having f-string errors despite installing the latest Vim, try it again with "vim foo.py"

As mentioned in #1047, if you see that it is linked to Python 3.5 or below it won't work. That is, if you do a --version command like below:
[code]

and you see `-lpython3.5m`, your python-mode won't

[2019-12-14 16:49] cdleong commented on #963
Dear future users: my problem was solved, see https://github.com/python-mode/python-mode/issues/817#issuecomment-565733484

[2019-12-14 16:50] cdleong commented on #935
Dear Future Users: My problem was solved, please see https://github.com/python-mode/python-mode/issues/817#issuecomment-565733484

[2019-12-14 16:53] cdleong commented on #1047
@diraol, your advice of checking which version of python my vim was linked to was quite helpful.

@semaraugusto I had a similar problem, which I solved by installing the latest vim and python-mode.

[2019-12-14 16:56] diraol commented on #817
Thank you @cdleong for this feedback! :)

[2019-12-14 20:43] diraol commented on #1052
Hi @vyasr do you mind testing the follow pull request to check if the updates are not breaking everything, please?

https://github.com/python-mode/python-mode/pull/1058

Thanks!

[2019-12-15 00:23] blayz3r commented on #1049
Demo here https://www.reddit.com/r/neovim/comments/b1pctc/float_window_support_with_cocnvim/

[2019-12-15 02:38] diraol commented on #1049
@blayz3r thanks for the video, very nice feature indeed!
Just one question though. Does vim support it or is it just for neovim?

[2019-12-15 02:39] diraol commented on #932
Resolved here: https://github.com/python-mode/python-mode/pull/1054

[2019-12-15 02:42] diraol commented on #1048
@YHYJ do you mind trying the branch from this Pull Request (https://github.com/python-mode/python-mode/pull/1058) to see if the newer version of our dependencies fix it for you?

[2019-12-15 02:43] diraol commented on #1047
Closing because of inactivity and also because :point_up:

[2019-12-15 02:43] #1047 closed, assigned to nobody

[2019-12-15 02:44] diraol commented on #1023
Hi all, do you mind testing the branch from this Pull Request, please? https://github.com/python-mode/python-mode/pull/1058
Let's see if updating things fix it :)

[2019-12-15 07:27] blayz3r commented on #1049
Yes it works for both, here is an example https://github.com/mhinz/vim-signify/issues/300

[2019-12-15 07:32] blayz3r commented on #1023
Still getting errors
![image](https://user-images.githubusercontent.com/12205650/70859530-15c71700-1ee3-11ea-8b9e-1813dd3c15f1.png)

[2019-12-15 17:44] blayz3r commented on #1023
It works if you run python this way:
[code]

![image](https://user-images.githubusercontent.com/12205650/70867258-8bfa6680-1f41-11ea-95f3-5c698ffbd6be.png)

[2019-12-16 00:24] avacariu commented on #1042
This seems like it should've been fixed by this commit: https://github.com/python-mode/python-mode/commit/4d12b1599f2c0ef5a35619f790c0506faf8be034

FWIW, this works fine for me on Mac using Vim 8.1.2234. I notice in Rope's documentation [they say](https://github.com/python-rope/rope/blob/master/docs/library.rst#performing-refactorings):

However, I tried your example with both Unix and DOS line-en

[2019-12-16 01:11] kevinkjt2000 commented on #1042
I just realized that `master` is not the default branch for this project, and that several releases have come from `develop`. I'll switch branches and consume all these bugfixes and features that I have been missing out on!

[2019-12-16 01:11] #1042 closed, assigned to nobody

[2019-12-16 11:43] diraol commented on #1042
Yeah, that has been like this for a long time.

Since we have fixed a ton of issues and done many upgrades to python-mode, I'm planning to merge develop back to the master branch and keep both in sync to avoid this kind of issues for our users.

But nice that it is working :)

[2019-12-16 17:39] Ledarium opened #1059 "Pylint does not update its output after changing file"
Consider a following example:
[code]
When I run :PymodeLint window with pylint output appears:
[code]
After that I am trying to fix, for example, pylint R0205 error (removing object inheritance). But after doing that and running :PymodeLint, error window does not update anymore. The only solution is to restart vim.

[code]
I am using virtualenv
[code]
[code]
I am unable to post debug file because

[2019-12-17 03:45] vyasr commented on #1052
Can confirm that it works! At least on my current machine, which is Arch Linux. Nothing else is obviously broken by this change.

[2019-12-17 09:41] YHYJ commented on #1048
Thank you! I installed flake8 and pylint, no matter what I set `pyflakes` or `pylint` to `g:pymode_lint_checkers
`, I get an error:
[code]

[2019-12-17 11:36] #1020 closed, assigned to nobody

[2019-12-18 05:57] timgates42 opened #1060 "Fix simple typo: systematicaly -> systematically"
There is a small typo in tests/test_python_sample_code/algorithms.py.
Should read `systematically` rather than `systematicaly`.

[2019-12-18 12:10] #1060 closed, assigned to nobody

[2019-12-19 01:11] kerwinxu opened #1062 "from imp import find_module"
#from imp import find_module
from importlib.util import find_spec as find_module

[2019-12-19 12:06] diraol commented on #1062
? @kerwinxu

[2019-12-23 13:55] DadongZ opened #1063 "Error detected while processing function pymode#init[4]"
I just installed the plugin and got below error when initiating a python script:
[code]
I am using Ubuntu 18.04 WSL.
[code]

[code]

vimrc:
[code]

[2019-12-23 14:11] diraol commented on #1063
@DadongZ

1. How did you installed the plugin?

2. Can you follow [this](https://github.com/python-mode/python-mode#troubleshootingdebugging), and put here the outputs?

[2019-12-23 14:28] DadongZ commented on #1063
Thanks for your prompt reply @diraol
1. I installed the plugin using Vundle.
2. Here is the output:
[code]

[2020-01-04 16:43] #1044 closed, assigned to nobody

[2020-01-05 19:43] al3xandru opened #1064 "Question: "[Pymode]: error: Pymode requires vim compiled with +python. Most of features will be disabled." Both +python and +python3 available though"
Following the instructions in the debug section, this is the error I'm seeing when trying to open a python file.  I've looked for similar issues but none seem to indicate towards a solution. I'm running latest Macvim with latest python-mode on macOS 10.14.6

[code]

What else should I check?  thank you

[2020-01-05 20:31] diraol commented on #1064
@al3xandru vim does not work properly with both python2 and 3 at the same time. This is a known issue - and we have faced it here some times.
I need to go AFK now but you may find some issues here in python-mode with a link to a vim issue about it.
The solution? Build vim with only python3 support.

[2020-01-11 15:53] Gako358 commented on #1048
any news on pymode regarding python 3.8?

[2020-01-16 11:21] resetreboot opened #1065 "Latest version does not highlight None, False, self and other builtins"
After last update, under Vim 8.2, builtins have no highlighting. Only self on function definitions. I've cleared `*.pyc` files and even reinstalled the plugin, to no avail.

[2020-01-16 16:00] JackLeo opened #1066 "mypy support"
PyLamas module that is mainly used for python-mode provides support for mypy, it would be great if it supports would be included in python-mode as well.

[2020-01-17 14:39] McSinyx commented on #1062
I think @kerwinxu is trying to report the deprecation of `imp`, which is already fixed on `develop` by #1051.

[2020-01-17 15:05] diraol commented on #1062
Yeap, probably.

I'll close this issue. If he wants to state something else he can feel free to reopen the issue ;)

[2020-01-17 15:05] #1062 closed, assigned to nobody

[2020-01-17 16:29] DasHammett opened #1067 "Vim: Caught deadly signal ABRT"
Hi,

I am experiencing an total crash on VIM while using the plugin, freshly cloned as of today.

OS:
Gentoo Linux
Kernel 5.6.4

vim version:
`
VIM - Vi IMproved 8.2 (2019 Dec 12, compiled Jan 17 2020 17:04:39)
Included patches: 1-114
Modified by Gentoo-8.2.0114
Compiled by hammett@Hammett
Huge version without GUI.  Features included (+) or not (-):
+acl               -farsi             -mouse_sys

[2020-01-18 11:34] DasHammett commented on #1067
Update:
I have downgraded vim to 8.1 and I no longer have a crash
`VIM - Vi IMproved 8.1 (2018 May 18, compiled Jan 18 2020 12:27:02)
Included patches: 1-1486
Modified by Gentoo-8.1.1486
Compiled by hammett@Hammett
Huge version without GUI.  Features included (+) or not (-):
+acl               +extra_search      +mouse_netterm     -tag_old_static
+arabic            -farsi             +mouse_sgr

[2020-01-19 07:52] adrienverge commented on #887
@Stale here is a comment so that you don't close the issue. It's not solved yet. Please let it open so that other users can find it easily.

[2020-01-20 12:56] resetreboot commented on #1065
Well, after some more days even debugging the highlighting, I discovered a color scheme was messing with the groups.

[2020-01-20 12:56] #1065 closed, assigned to nobody

[2020-01-21 10:57] andymwood opened #1068 ""let g:pymode_options_max_line_length" is ignored when set in .lvimrc"
In ~/.vim/vimrc, I have:
[code]

I want to override this for a particular project. So I'm using [vim-localvimrc](https://github.com/embear/vim-localvimrc/tree/master), and in .lvimrc I have
[code]

The option appears to be set correctly - when I type `:echo g:pymode_...` it returns 119. But when I type `:PymodeLint` I get
[code]

[2020-01-23 07:16] JohnSparham opened #1069 "3rd party modules?"
having an issue with :PythonRun, I'm new to python-mode and using macvim

I get this error message for every 3rd party module I try to import, I'm using "requests" for this example

if I run the script with vim command  :!python3 <filename> it works fine.

with :PythonRun  print(sys.executable) ->/usr/local/Cellar/macvim/8.1-161/MacVim.app/Contents/MacOS/Vim

with :!python3 <filename> print(sys.ex

[2020-01-25 04:10] zhyu commented on #1052
I'm having the same issue. And I can confirm the pull request works on my machine, which is macOS.

[2020-01-25 18:16] ghost opened #1070 "Error detected while processing function provider#python3#Call:"
The problem appears when I try to open any .py file. I had tried the step from FAQ but nothing changed:
`find . -type f -iname '*.pyc' -o -iname '*.pyo' -delete && find . -type d -name '__pycache__' -delete`
I use the Neovim but the same problem is in the Vim.

OS: ManjaroLinux 18.1.5 x86_64
Kernel: Linux 5.4.13-3-MANJARO

vim --version
[code]

python --version
`Python 3.8.1`

:PymodePython import

[2020-01-25 21:32] smartsystems4u commented on #1003
I had the same error. Turned out that I was running inside a pipenv shell. Python-mode doesn't recognize that. When I switched to virtualenv it worked fine.

[2020-01-26 12:28] diraol commented on #1070
Hi @Storm-Sergey, please take a look at this comment: https://github.com/python-mode/python-mode/issues/1053#issuecomment-564069826

[2020-01-26 12:52] diraol commented on #1068
Hi @andymwood,

Can you try setting up setup.cfg under your project's directory in order to setup pylint configs for this specific issue?

[2020-01-26 12:54] diraol commented on #1067
Hi @DasHammett I haven't tested vim 8.2 until now, but one thing I saw on your outputs is that you have vim with both python and python3.

Please, take a look at this comment: https://github.com/python-mode/python-mode/issues/1053#issuecomment-564069826

[2020-01-26 12:55] diraol commented on #1052
Update merged! Also I've done another submodule update ;)

Feel free to reopen the issue in case the error persists.

[2020-01-26 12:55] #1052 closed, assigned to nobody

[2020-01-26 13:02] diraol commented on #1059
Yeah, I'm seeing the same behavior. But I don't know what is going on... :(

[2020-01-26 13:04] diraol commented on #1063
Hi @DadongZ, sorry for the late response.
Can you share how you specified to Vundle to install python-mode? (the line in which you defined python-mode plugin)?

[2020-01-26 13:06] diraol commented on #1048
Hey guys, sorry for the late reply.
We have just updated all submodules to their latest releases. So I guess it should be working fine with python 3.8.

Just remember that, depending how you have built your Vim eventually your Vim will be statically linked to other python versions.

[2020-01-27 15:00] Storm-Sergey commented on #1070
Excuse me, could you give a hint how can I do that?

[2020-01-27 16:02] ghost commented on #1070
@diraol
Excuse me, could you give a hint how can I do that? I mean what should I do if I only use python 3?

[2020-01-28 06:25] lucomsky commented on #1048
@diraol, it looks like you have a bug in your commit 1e97e4d8fa427f7b3262b2daadff8d32ca5be536:
[code]

[2020-01-28 13:26] diraol commented on #1048
Hi @lucomsky, that is weird.

I've just tested `git clone --recurse-submodules https://github.com/python-mode/python-mode.git` and it worked perfectly here.

Btw, if you got to pylama's repo you can see that the last commit is exactly this commit:

https://github.com/klen/pylama

I'd guess you have had a networking intermittent error?

[2020-01-29 05:49] lucomsky commented on #1048
I reinstalled the plugin. Error have gone.

[2020-01-29 08:29] AKielhorn opened #1071 "Mark shift Space as an error"
I often enter a shift Space because I hold down the shift key too long.

I've added the shift Space as an Error in my configuration and would suggest to do that in the official version as well.

`
diff --git a/syntax/python.vim b/syntax/python.vim
index b7666d8..f1d630b 100644
--- a/syntax/python.vim
+++ b/syntax/python.vim
@@ -160,6 +160,8 @@ endif
         syn match pythonSpaceError  "\s\+$" dis

[2020-01-29 16:57] andymwood commented on #1068
I've figured out the problem. Adding the following to .lvimrc fixes it:
[code]

[2020-01-29 16:57] #1068 closed, assigned to nobody

[2020-01-29 17:44] #1048 closed, assigned to nobody

[2020-02-02 07:34] Edward66 opened #1072 "Error detected while processing function pymode#init:"
I  google this question for a while, however, not able to solve it.   My python version is 3.6.8 , neovim version is 0.3.8 and system is MacOs 15.15.3 . Can anybody help me  ? thank you!
`
Error detected while processing function pymode#init:

line    2:

E121: Undefined variable: import

line    3:

E121: Undefined variable: sys

line    4:

E121: Undefined variable: sys

Error detected while pro

[2020-02-02 22:45] usmcamp0811 commented on #1072
I've got the same problem running `Arch Linux`, `Python 3.8.1`, and `NVIM v0.4.3`

[2020-02-03 13:35] #998 closed, assigned to nobody

[2020-02-03 15:26] pinggit commented on #477
I see the issue. can we reopen it?

[2020-02-03 17:37] smilesun commented on #1072
same problem here with debian 9

[2020-02-04 05:26] blayz3r commented on #1049
https://github.com/skywind3000/vim-quickui

[2020-02-04 11:52] diraol commented on #1072
Hi all, can you provide more info from your systems please?

Like, which is the commit hash from your python-mode?

Are your python-mode submodules updated?

How did you installed python-mode?

Can you try reinstalling python-mode from scratch following https://github.com/python-mode/python-mode#how-to-install ?

[2020-02-04 11:54] diraol commented on #477
Sure we can @pinggit. I saw a similar issue too. I saw, once, similar behavior and restarting vim made it work (only one time, then I had to restart vim again).

But I am without spare time to dedicate to the project to fix it, so contributions are very welcome!

[2020-02-04 11:56] diraol commented on #1071
Hi @AKielhorn, I don't think I understood the issue correctly.

[2020-02-04 11:59] diraol commented on #1070
Hi @Storm-Sergey basically you need to have vim installed with only python3 support.

That would require building vim from the source code (IIRC some OS package managers just have vim with support to both python2 and 3 at the same time).

This is a nice reference that I usually go to when I need to do it:

 - https://github.com/ycm-core/YouCompleteMe/wiki/Building-Vim-from-source

[2020-02-04 12:03] diraol commented on #1069
Hi @JohnSparham I don't recognize this command (`PythonRun`). It is not provided by python-mode as far as I know.

[2020-02-04 12:09] smilesun commented on #1072
@diraol Hi Diraol, obviously it works on my old machine, but when I run plugin update again, it shows the same error as @Edward66  posted above. So obviously, the new commit has broken pymode somehow.  I use Bundle as the manager and I always run Bundle update.

[2020-02-04 12:11] smilesun commented on #1072
Plugin 'python-mode/python-mode', { 'branch': 'develop' }
is the line i put in my vimrc for Bundle

[2020-02-04 12:12] smilesun commented on #1072
here is the error message
[code]

[2020-02-04 14:46] AKielhorn commented on #1071
On a german keyboard the = sign is shift-0.

If you type
a = b
it is easy to hit the space bar, while you hold down the shift key.
Shift space is an No-Break-Space and thus incorrect syntax.
Since you can't see the difference it would be nice to have that marked an an error.

[2020-02-04 15:09] smilesun opened #1073 "jump from if to else and elif"
I tried [] ][ and ]m and it does not work, suppose I am currently at "if", then after 100 lines, there is a elif, how can i jump to there?

[2020-02-04 16:15] Edward66 commented on #1072
@diraol Hi Dirao, I installed python-mode via vim-plug.
Plug 'python-mode/python-mode', { 'for': 'python', 'branch': 'develop' } is the line i put in my vimrc for Bundle

[2020-02-09 03:06] #1039 closed, assigned to nobody

[2020-02-12 03:04] NeilGirdhar opened #1074 "Editing single-quoted strings crashes"
To reproduce:

1. vim a.py
2. Type `i` to enter insert mode, then
[code]
then escape to exit insert mode.
3. Type `h` to go left so that the cursor is over the `a`.
4. Type `i` to enter insert mode, then `a_`.

Python mode crashes.

[My vimrc](https://termbin.com/38w9)

[2020-02-15 19:57] diraol commented on #1072
Hum.... You all are using NVim.... that had escaped from my initial reading.

I have never used it, to be honest.

vim + python-mode is working nice for me in at least three computers, all of them with debian and vim installed with *only* _python3_ support (no python2 suuport).

Can you please follow the [Troubleshooting Section](https://github.com/python-mode/python-mode#troubleshootingdebugging)

[2020-02-15 19:59] diraol commented on #1066
Hi @JackLeo I'd love that, but unfortunately I don't have time to implement it. I'm having difficulties even to find spare time to do maintenance ... (you can see it by the time it took to me to answer to your message!)

But I totally agree that this would be a nice addition and it would be wonderful to receive such contribution ;)

[2020-02-15 20:41] smilesun commented on #1072
If i change the python interpreter to be python3 instead of python, it will then work. But still pymode is using a wrong python version, since I am using anaconda.

[2020-02-17 03:59] deploy-soon commented on #1072
Same problem running Ubuntu 18.04, Python 3.6.10 :: Anaconda, and VIM 8.0

[2020-02-17 05:41] deploy-soon commented on #1072
I think the above error was caused because the command `PymodePython` set to `echo`

https://github.com/python-mode/python-mode/blob/30a73d861aba2e1a5e0693d3a3df30293182efe2/plugin/pymode.vim#L287-L312

To handle this problem
@Edward66 @usmcamp0811
How about change the `g:pymode_python` in `~/.vimrc`
[code]

@smilesun
To specify anaconda python interpreter, you can set interpreter version explicit

[2020-02-18 12:56] diraol commented on #1072
Hum... good catch.... Any suggestion what to do with it @deploy-soon?

[2020-02-18 17:02] ghost commented on #1070
After building from the sources the problem is gone.
@diraol Thank you!

[2020-02-18 17:02] #1070 closed, assigned to nobody

[2020-02-20 17:24] smilesun opened #1075 "unknown sign Pymodeu when save file"
`:w` will generate in vim command line unknown sign Pymodeu which flashes out.

[2020-02-22 22:41] blayz3r opened #1076 "Add Better refactoring UI"
From
![image](https://user-images.githubusercontent.com/12205650/75100340-3cb46000-559a-11ea-9b36-ec17d85c9577.png)

Maybe to something like this
![image](https://user-images.githubusercontent.com/12205650/75100355-8735dc80-559a-11ea-979e-b1113e200125.png)

[2020-02-23 06:54] deploy-soon commented on #1072
In `pymode#init`, the command `PymodePython import sys, vim` often read to `echo import sys, vim` and vim tries to read it as some functions, finally this becomes E121, E15 errors.  How about change `echo` command to `return` command to avoid these errors. @diraol

[2020-02-24 03:47] Edward66 commented on #1072
Thank you,  i works!

[2020-02-28 08:11] lodagro opened #1078 "syntax highlighting issue"
![image](https://user-images.githubusercontent.com/1094464/75522174-9b019880-5a09-11ea-9012-67f847a65ee5.png)

Somehow in the middle of the docstring the syntax highlighting goes wrong.
When removing either the ```"``` around annotation, or replacing ```"``` with ```'``` for arg1_default or removing the ```)``` after TODO highlighting is back ok again.

With ```let g:pymode_syntax=0``` highlightin

[2020-02-29 22:36] lieryan commented on #1073
Simplest way currently is just to do a /-search: `/else` or `/elif` (this is just vim, no python-mode).

This simple match pattern isn't smart, so if you have nested if-elif-else, it will match all the inner ones as well.

If you want the search match to be able to handle nested if-elif-else, you can add a mapping like this in your .vimrc:

    nnoremap g/e /^<C-R>=repeat(" ", indent('.'))<CR>\zs\

[2020-02-29 22:49] lieryan commented on #1074
Can't reproduce this.

[2020-02-29 23:13] lieryan commented on #1076
What problem is this trying to solve?

Vim is not \<insert-whatever-other-text-editor\>, of course things looks different.

The current refactoring UI works just fine, in what ways would the UI in the screenshot be "better" than the current UI?

[2020-03-01 01:16] NeilGirdhar commented on #1074
Thanks a lot for trying!  Did you try it with my vimrc?  i can take an asciicinema if that helps?

[2020-03-01 06:12] lieryan commented on #1074
I'd suggest you should trim down your vimrc to the minimal configuration that still causes a crash.

Also, add environment info like what Vim version, python version, which distro, and python-mode version that you're using.

Try varying some of these environments and figure out which ones crashes and which ones would make the crash disappear.

[2020-03-02 08:55] smilesun opened #1079 "documentation error"
[code]

VIM 8.0.1453, when I want to show documentation, it generate this error

[2020-03-05 17:48] NeilGirdhar commented on #1074
Sorry, this is actually an issue with mucomplete.  My bad.

[2020-03-13 20:54] NeilGirdhar commented on #1074
@lieryan Sorry, this is happening again.  Says:

[code]

[2020-03-13 20:56] NeilGirdhar commented on #1074
My vimrc:
[code]

[2020-03-13 20:59] NeilGirdhar commented on #1074
Only happening in neovim though.

[2020-03-13 21:01] NeilGirdhar commented on #1074
Ah, got it.  I have to `pip3 install --upgrade pynvim`

[2020-03-13 21:01] #1074 closed, assigned to nobody

[2020-03-20 16:22] glentner commented on #1006
I think the issue has been resolved, I'm no longer having this problem when using the latest version of each.

[2020-03-21 07:29] sinsheep opened #1080 "goto definition error"
hi ,    as my english is not good， hope you can  forgive me

when  I used  goto_definition_bind  key to jump definition, it will make an inexplicable mistake
for example：

for one thing ,when i put the key that jump definition on the ”print“，it will jump to javascript file‘s   “print”

for the another, when Iput the keythat jump definition on the "sorted", it will jump to go file's "sorted"

I was

[2020-03-21 15:26] #1006 closed, assigned to nobody

[2020-03-22 01:26] Liripo opened #1081 "No module named 'pkg_resources'"
Dear developer：
 I encountered the following error and don't know how to solve it.
[code]

[2020-03-29 18:04] lalebarde opened #1082 "How to desactivate some warnings or errors raidsed by PymodLint?"
I have many warnings and errors I don't want like `line too long`:

![image](https://user-images.githubusercontent.com/3611049/77856118-44989d00-71f5-11ea-9a68-6ac8e300e87d.png)

How can I desactivate them please?

Following the documentation, I have tried editing  `~/.pylint.rc` but it is not taken into account:
[code]

[2020-03-29 18:11] lalebarde commented on #1082
There was a typo above, I have tried the following syntax without success:
[code]

[2020-04-04 19:12] UlionTse commented on #1064
Have any best answer?

[2020-04-04 19:16] diraol commented on #1064
Hi @UlionTse, as I've said, this is a limitation from vim, not from python-mode. So my best answer still is build vim with only python3 support.

[2020-04-05 08:53] UlionTse commented on #1064
@diraol Thanks. I upgraded my Mac from Mojave to Catalina  today, it becomes ok.

[2020-04-05 17:08] #1049 closed, assigned to nobody

[2020-04-05 17:08] #1076 closed, assigned to nobody

[2020-04-09 15:07] smilesun commented on #699
@diraol , setting

does not work for me